<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Units" => false}] %>
<% end %>

<%= page_header "Units" do %>
  <%=link_button_new "New Unit", new_admin_unit_path() %>	
<%end%>


<table class="table table-hover table-bordered">
	<thead> 
		<tr>
			<th class='nth-table'> # </th>
			<th> Name </th>
			<th> Creation date </th>
			<th class='action_col2'> Action</th>
		</tr>
	</thead>

	<tbody>
		<% @units.each_with_index do |unit, index| %>
			<tr> 
				<td><%= current_entries + index %></td>
				<td><%= link_to unit.name, admin_unit_path(unit) %></td>
				<td><%= l unit.created_at %></td>
				<td>
				  <%=link_button_edit  "Edit", edit_admin_unit_path(unit), :class => 'btn btn-mini'  %>
				  <%=link_button_delete "Destroy", admin_unit_path(unit) ,
				  			 :method => :delete , :confirm => 'Are you sure to delete?',:class => 'btn btn-mini btn-danger' %>
				</td>
			</tr>
		<% end %> 
	</tbody>
</table>
<%= render_paginate_for  @units %>