<%= simple_form_for [:admin, @province], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :code %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_provinces_path, :class => 'btn' %>
  </div>
<% end %>
