<%= page_header("Province", :left => 6, :right => 6) do %>
    <%= link_to t('New Province'), new_admin_province_path, :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Provinces" => nil}]  %>
<% end %>

<%= paginate_records @provinces %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t 'Name' %></th>
      <th><%= t 'Code' %></th>
      <th><%= t 'Created At' %></th>
      <th class="action_col2" ><%= t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @provinces.each do |province| %>
      <tr>
        <td><%=link_to province.name, admin_province_path(province) %></td>
        <td><%= province.code %></td>
        <td><%=l province.created_at %></td>
        <td class="last">
          <%= link_to t('Edit'), edit_admin_province_path(province), :class => 'btn btn-mini' %>
          
          <%= link_to t('Destroy'), admin_province_path(province),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


