<%= page_header("Province", :left => 6, :right => 6) do %>
    <%= link_to t('New Province'), new_admin_province_path, :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Provinces" => nil}]  %>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th>Name</th>
      <th>Code</th>
      <th class="action_col2" >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @provinces.each_with_index do |province, index| %>
      <tr>
        <td><%=current_entries + index %></td>
        <td><%=link_to province.name, edit_admin_province_path(province) %></td>
        <td><%= province.code %></td>
        <td class="last">
          <%= link_button_edit 'Edit', edit_admin_province_path(province)%>
          <%= link_button_delete 'Delete', admin_province_path(province),
                      :method => :delete, :confirm  => 'Are you sure to delete?' ,:class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @provinces %>


