<%content_for :breadcrumb do %>
 <%= breadcrumb [ "Commodity Categoies" => nil] %>
<% end %>

<%= page_header t("Commodity Categories"), :left => 6, :right => 6 do %>
  <%=link_button_new "New Commodity Category", new_admin_commodity_category_path(:type => params[:type]) %>
<%  end %>



<ul class="nav nav-tabs">
  <li class=" <%= params[:type] == CommodityCategory::TYPES_DRUG ? 'active' : '' %>">
    <%= link_to CommodityCategory::TYPES_DRUG, admin_commodity_categories_path(:type =>  CommodityCategory::TYPES_DRUG ) %>
  </li>
  <li class="<%=params[:type] ==  CommodityCategory::TYPES_KIT ? 'active' : '' %>">
    <%= link_to CommodityCategory::TYPES_KIT , admin_commodity_categories_path(:type =>  CommodityCategory::TYPES_KIT ) %>
  </li>
</ul>
<%= paginate_records @commodity_categories %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th class='action_col2' >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @commodity_categories.each do |commodity_category| %>
      <tr>
        <td><%= link_to commodity_category.name, edit_admin_commodity_category_path(commodity_category) %></td>
        <td><%= commodity_category.com_type %></td>
        <td>
          <%= link_button_edit 'Edit',  edit_admin_commodity_category_path(commodity_category,:type => params[:type]) %>
          <%= link_button_delete 'Delete',  admin_commodity_category_path(commodity_category, :type => params[:type]),
                :method => :delete, :confirm => 'Are you sure to delete?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
