<%content_for :breadcrumb do %>
 <%= breadcrumb [ "Commodity Categoies" => nil] %>
<% end %>

<%= page_header t("Commodity Categories"), :left => 6, :right => 6 do %>
  <%=link_to "New Commodity Category", new_admin_commodity_category_path(), :class => 'btn' %>
  <%=link_to "Download Excel Template", template_admin_commodity_categories_path(:format => :xls ), :class => 'btn' %>
<%  end %>

<%= paginate_records @commodity_categories %>

<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Type") %></th>
      <th><%= t("Created at") %></th>
      <th class='action_col2' ><%=t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @commodity_categories.each do |commodity_category| %>
      <tr>
        <td><%= link_to commodity_category.name, edit_admin_commodity_category_path(commodity_category) %></td>
        <td><%= commodity_category.display_type %></td>
        <td><%= l commodity_category.created_at %></td>
        <td>
          <%= link_to t('Edit'),  edit_admin_commodity_category_path(commodity_category), :class => 'btn btn-mini' %>
          <%= link_to t('Delete'),  admin_commodity_category_path(commodity_category),
                :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
