
<% content_for :breadcrumb do %>
  <%= breadcrumb [{"SmsLogs" => nil}]  %>
<% end %> 

<ul class="nav nav-tabs">
  <li class="<%= @type ==  SmsLog::SMS_TYPE_REQUISITION ? 'active' : '' %>">
    <%= link_to 'Requisition Deadline' , monitor_admin_sms_logs_path(:type => SmsLog::SMS_TYPE_REQUISITION ) %>
  </li>

  <li class=" <%= @type == SmsLog::SMS_TYPE_SHIPMENT ? 'active' : '' %>">
    <%= link_to 'Shipment', monitor_admin_sms_logs_path(:type => SmsLog::SMS_TYPE_SHIPMENT) %>
  </li>
</ul>

<%= page_header("Sms Log")%>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th>Site</th>
      <th>To</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @sms_logs.each_with_index do |sms_log, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td><%= sms_log.site.name %></td>
        <td><%= sms_log.to %></td>
        <td><%= sms_log.message %></td>
        <td title='<%= sms_log.created_at %>' ><%= time_ago_in_words sms_log.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @sms_logs %>
