
<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Sms Logs" => nil}]  %>
<% end %>
<%= render 'filter_order' %>
<br />
<%= render 'sms_type_tab', :type => @type %>
<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th>ID</th>
      <th>Site</th>
      <th>To</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @sms_logs.each_with_index do |sms_log, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td><%= sms_log.id %></td>
        <td><%= sms_log.site.name %></td>
        <td><%= highlight(sms_log.to, params[:q]) %></td>
        <td class='td-expand' title="<%=h sms_log.message %>"   >
           <%= highlight(sms_log.message, params[:q]) %>
        </td>
        <td class='td-expand' title="<%= sms_log.created_at %>" > <%= show_date_time(sms_log.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @sms_logs %>
