<%= simple_form_for [:admin, @order], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class='span4' >
      <%= f.input :site_id, :collection => Site.all.map{|site| [site.name, site.id]},
                         :include_blank => 'Select a Site'
                         %>
    </div>

    <div class='span3'>
      <%= f.input :order_date, :as => 'date_time_picker', 
                               :label => 'Order Create' ,
                               :input_html => {:class => 'datepicker-fit'}

                               %>   
    </div>

    <div class='span3'>
        <%= f.input :date_submittion, :as => 'date_time_picker', 
                                      :label => 'Order Received',
                                      :input_html => { :class  => 'datepicker-fit'} 

                                      %> 
    </div>
    <div class='span2' style ='text-align:center;' >
      <%= f.submit 'Save order', :class => 'btn btn-primary' %>
    </div>

  </div>

  <div id='order_lines_tab'> <%= render :partial => 'order_lines', :locals => {:f => f, :order => @order} %> </div>

  <div class="form-actions">
    <%= f.submit 'Save Order', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_provinces_path, :class => 'btn' %>
  </div>
<% end %>

<script>
  function handleSiteUser(){
    $('#order_site').on('change', function(){
       var site = $(this).val();
       if(!site){
          removeUsers();
          return ;
       }

       var url  = '/admin/sites/' + site + '/users' 
       $.ajax({
          url : url,
          method : 'GET',
          dataType : 'json',
          success: function(response){
             removeUsers();
             $selectElm = $('#order_user_place_order') ;
             for(var i=0; i< response.length; i++){
                   value = response[i][1];
                   text  = response[i][0];
                   var option = "<option value='"+ value +"' >" + text + " </option>";
                   $selectElm.append(option);
                 }
          }
       })


    });
  }

  function handleLoadOrderLinesTab(){
    $("#order_site_id").on('change', function(){
       loadOrderLinesTab();

    });

    $("#order_order_date").on('blur', function(){
       loadOrderLinesTab();


    });


  }



  function loadOrderLinesTab(){
    site_id = $("#order_site_id").val();
    date   = $("#order_order_date").val();

    if(!site_id || !date)
      return ;

    $.ajax({
        url    : '<%= tab_order_line_admin_orders_path()%>',
        data   : {'site_id' : site_id, 'date': date},
        method : 'GET',
        success: function(response){
          $('#order_lines_tab').html(response);
        }

    });

  }



  function removeUsers(){
      $("#order_user_place_order option[value !='']" ).remove();
  }

  $(function(){
    handleSiteUser();
    handleLoadOrderLinesTab();
  });
</script>
