<% 
  order_line_record = order_line_form.object
  row_ref = order_line_record.commodity.id 
  error_display = ( order_line_record.errors.full_messages.size > 0 ) ? '' : 'display:none;'

%>
<tr id='tr_<%= row_ref %>'  data-ref="<%= row_ref%>" class='order_line_row'>
    <td ><%=index%></td>
    <td ><%=order_line_record.id%></td>
    <td class='td-expand no-wrap' title="<%= h order_line_record.commodity.name %>"> 
      
      <%= order_line_form.input :id, :as => 'hidden' %>
      <%= order_line_form.input :status, :as => 'hidden', :input_html => {:value =>''} %>
      <%= order_line_form.input :arv_type, :as => 'hidden', :input_html => {
                            :class=>'validate_field', 
                            :'data-ref'=> row_ref, 
                            :id => "arv_type_#{row_ref}" } %>


      <%= order_line_form.input :commodity_id, :as => 'hidden' %>
      <%= order_line_form.input :site_id, :as => 'hidden', :input_html => {:class=>'site', :id => "site_#{row_ref}"} %>

      <input type='hidden' id='commodity_name_<%=row_ref%>' value="<%= h order_line_record.commodity.name %>" />
      <%= truncate(order_line_record.commodity.name, :length => 20) %>
    </td>
    <td><%= order_line_record.commodity.pack_size%></td>
    <td><%=order_line_record.commodity.strength_dosage %></td>
    <td><%= order_line_record.commodity.unit.name %></td>

    <td>
      <%= order_line_record.number_of_client %>
      <div style="display:none;"> 
        <%= order_line_form.input :number_of_client, :as => :hidden, :input_html => { 
                           :class => 'validate_field number_text',
                           :id => "number_of_client_#{row_ref}", 
                           :'data-ref' => row_ref } %>
      </div>
    </td>

    <td > 
      <%= order_line_form.input :stock_on_hand, :label=> '&nbsp;',
                            :wrapper_html => {:class => 'inline-div'}, 
                            :input_html   => {:class => 'validate_field number_text stock_on_hand', :'data-ref' => row_ref, :id => "stock_on_hand_#{row_ref}" }, 
                            :label_html   => {:class => 'none'}  %> 
    </td>
    
    <td > 
      <%= order_line_form.input :monthly_use, :label=> '&nbsp;' , 
                            :wrapper_html => {:class => 'inline-div'},
                            :input_html   => {:class => 'validate_field number_text', :'data-ref' => row_ref, :id => "monthly_use_#{row_ref}"} , 
                            :label_html   => {:class => 'none'} %> 
    </td>
    
    <% if !current_user.data_entry? %>
    <td > 
      <span id='quantity_system_calculation_<%= row_ref %>' > 
        <%= order_line_record.system_suggestion  %> 
      </span> 
    </td>
    
    <td >
      <%= order_line_form.input :quantity_suggested, :label=> '&nbsp;' , 
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => 'validate_field number_text', :'data-ref' => row_ref, :id => "quantity_suggested_#{row_ref}" } , 
          :label_html   => {:class => 'none'}
      %> 
    </td>

    <% end %>

    <% if order.status == Order::ORDER_STATUS_TO_BE_REVISED %>
      <td><%= status(order_line_record.status) %></td>
      <td><%= order_line_record.user_reviewer_note %></td>
    <% end %>
    
    <td class='error-td' > 
      <%= order_line_form.input :user_data_entry_note, :label=> '&nbsp;' , :as => "string",
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => :validate_field, :'data-ref' => row_ref, :id => "user_data_entry_note_#{row_ref}" , :style => 'width: 180px;'} , 
          :label_html   => {:class => 'none'}
      %>

      <a href="javascript:void(0)" class="order_popover error" id='error_<%= row_ref %>' style='<%= error_display %>'
         data-skip-loading='true' data-ref='<%= row_ref %>' data-html = 'true' data-placement='left'>  
           <i class='icon-exclamation-sign'></i>
      </a>

    </td>
</tr>