<% 
  @kit  = 1
  @drug = 1
%>
  <%=f.simple_fields_for :order_lines do |order_line_form| %>
    <% if order_line_form.object.arv_type == CommodityCategory::TYPES_DRUG %>
        <%=content_for :drug do  %>
          <%= render :partial => "order_line_row", :locals => { 
              :order_line_form => order_line_form,
              :order => order,
              :index => @drug
            } %>
          <% @drug += 1 %>  
        <% end %>    
    <% elsif order_line_form.object.arv_type == CommodityCategory::TYPES_KIT %>  
        <%=content_for :kit do %>
          <%= render :partial => "order_line_row", :locals => { 
              :order_line_form => order_line_form,
              :order => order,
              :index => @kit
            } %>   
        <% end %>
        <% @kit += 1 %> 
    <% end %>  
  <% end %>


  <div class="tabbable"> 
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#drug" data-toggle="tab" data-skip-loading='true'>Drugs</a>
      </li>
      <li> 
        <a href="#kit" data-toggle="tab" data-skip-loading='true'>Kits</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="drug">
        <h4> Drug Commodities </h4>
        <%= render :partial => 'order_line_table', :locals => {:order => order ,:body => yield(:drug)} %>
      </div>
      <div class="tab-pane" id="kit">
         <h4> Kit Commodities </h4>
         <%= render :partial => 'order_line_table', :locals => {:order => order, :body => yield(:kit) } %>
      </div>
    </div>
  </div>