<tr>
    <td><%=index%></td>
    <td> 
      <% row_ref = order_line_record.commodity.id %>
      <%= order_line.input :id, :as => 'hidden' %>
      <%= order_line.input :is_set, :as => 'hidden' %>
      <%= order_line.input :status, :as => 'hidden', :input_html => {:value =>''} %>
      <%= order_line.input :arv_type, :as => 'hidden', :input_html => {:class=>'validate_field', :'data-ref'=> row_ref } %>
      <%= order_line.input :site_suggestion,:as => 'hidden', :input_html => {:class=>'validate_field number_text', :'data-ref'=> row_ref } %>
      <%= order_line.input :test_kit_waste_acceptable,:as => 'hidden', :input_html => {:class=>'validate_field number_text',:'data-ref'=> row_ref} %>
      <%= order_line.input :commodity_id, :as => 'hidden' %>
      <span id='commodity_<%=row_ref%>' > <%= order_line_record.commodity.name %> </span>
    </td>

    <td> 
      <%= order_line_record.number_of_client %> 
      <%= order_line.input :number_of_client, :as => :hidden, :input_html => { 
                           :class=> 'validate_field number_text',
                           :id => "number_of_client_#{row_ref}", 
                           :'data-ref' => row_ref } %>
    </td>

    <td> 
      <%= order_line_record.consumption_per_client_per_month %> 
      <%= order_line.input :consumption_per_client_per_month, :as => :hidden, :input_html => { 
                              :class=> 'validate_field' ,
                              :id => "consumption_per_client_per_month_#{row_ref}",
                              :'data-ref' => row_ref
                            } %>
    </td>

    <td> 
      <%= order_line.input :stock_on_hand, :label=> '&nbsp;',
          :wrapper_html => {:class => 'inline-div'}, 
          :input_html   => {:class => 'validate_field number_text stock_on_hand', :'data-ref' => row_ref }, 
          :label_html   => {:class => 'none'}  
      %> 
    </td>
    
    <td> 
      <%= order_line.input :monthly_use, :label=> '&nbsp;' , 
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => 'validate_field number_text', :'data-ref' => row_ref} , 
          :label_html   => {:class => 'none'}
      %> 
    </td>
    
    <td> <span id='quantity_system_calculation_<%= row_ref %>' > <%= order_line_record.calculate_system_suggestion %> </span> </td>
    
    <td> 
      <%= order_line.input :quantity_suggested, :label=> '&nbsp;' , 
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => 'validate_field number_text', :'data-ref' => row_ref } , 
          :label_html   => {:class => 'none'}
      %> 
    </td>
    
    <td> 
      <%= order_line.input :user_data_entry_note, :label=> '&nbsp;' , :as => "string",
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => :validate_field, :'data-ref' => row_ref} , 
          :label_html   => {:class => 'none'}
      %>
    </td>
    <% if order.status == Order::ORDER_STATUS_TO_BE_REVISED %>
      <td><%= status(order_line.object.status) %></td>
      <td><%= order_line.object.user_reviewer_note %></td>
    <% end %>
</tr>  