<tr>
    <td> 
      <% row_ref = order_line_record.commodity.id %>
      <%= order_line.input :id, :as => 'hidden' %>
      <%= order_line.input :arv_type, :as => 'hidden', :input_html => {:class=>'validate_field', :'data-ref'=> row_ref } %>
      <%= order_line.input :site_suggestion,:as => 'string', :input_html => {:class=>'validate_field number_text', :'data-ref'=> row_ref } %>
      <%= order_line.input :test_kit_waste_acceptable,:as => 'string', :input_html => {:class=>'validate_field number_text',:'data-ref'=> row_ref} %>
      <%= order_line.input :commodity_id, :as => 'hidden' %>
      <span id='commodity_<%=row_ref%>' > <%= order_line_record.commodity.name %> </span>
    </td>

    <td> 
      <%= order_line_record.number_of_client %> 
      <%= order_line.input :number_of_client, :as => :string, :input_html => { 
                :class=> 'validate_field number_text', 
                :'data-ref' => row_ref
              } %>
    </td>

    <td> 
      <%= order_line_record.consumption_per_client_per_month %> 
      <%= order_line.input :consumption_per_client_per_month, :as => :hidden, :input_html => { 
                :class=> :validate_field, 
                :'data-ref' => row_ref
              } %>
    </td>

    <td> 
      <%= order_line.input :stock_on_hand, :label=> '&nbsp;',
          :wrapper_html => {:class => 'inline-div'}, 
          :input_html   => {:class => 'validate_field number_text stock_on_hand', :'data-ref' => row_ref }, 
          :label_html   => {:class => 'none'}  
      %> 
    </td>
    
    <td> 
      <%= order_line.input :monthly_use, :label=> '&nbsp;' , 
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => 'validate_field number_text', :'data-ref' => row_ref} , 
          :label_html   => {:class => 'none'}
      %> 
    </td>
    
    <td> <span id='quantity_system_calculation_<%= row_ref %>' > <%= order_line_record.quantity_system_calculation %> </span> </td>
    
    <td> 
      <%= order_line.input :quantity_suggested, :label=> '&nbsp;' , 
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => 'validate_field number_text', :'data-ref' => row_ref } , 
          :label_html   => {:class => 'none'}
      %> 
    </td>
    
    <td> 
      <%= order_line.input :user_data_entry_note, :label=> '&nbsp;' , :as => "string",
          :wrapper_html => {:class => 'inline-div'},
          :input_html   => {:class => :validate_field, :'data-ref' => row_ref} , 
          :label_html   => {:class => 'none'}
      %>
    </td>
</tr>  