<%
  @kit  = 1
  @drug = 1
%>
  <%=f.simple_fields_for :order_lines do |order_line_form| %>

    <% if order_line_form.object.drug? %>
        <%=content_for :drug do  %>
          <%= render "order_line_row",
                    :order_line_form => order_line_form,
                    :order => order,
                    :index => @drug
          %>
          <% @drug += 1 %>
        <% end %>

    <% elsif order_line_form.object.kit? %>
        <%=content_for :kit do %>
          <%= render "order_line_row",
                    :order_line_form => order_line_form,
                    :order => order,
                    :index => @kit
          %>
        <% end %>
        <% @kit += 1 %>
    <% end %>
  <% end %>
  <input type='hidden' id='order_frequency' value="<%= order.site ?  order.site.order_frequency   : '' %>" />
  <input type='hidden' id='suggestion_order' value="<%= order.site ?  order.site.suggestion_order  : '' %>" />
  <input type='hidden' id='test_kit_waste_acceptable' value="<%= order.site ? order.site.test_kit_waste_acceptable : '' %>" />


  <% content_for :site_detail do %>
  <div class='clearfix'>
    <%= render 'tip_data_entry_and_reviewer' if current_user.data_entry_and_reviewer? %>
    <ul>
     <li> Order Frequency(month) : <b>         <%= order.site ? order.site.order_frequency  : '' %> </b> </li>
     <li> Suggestion Order Valid Within(%) <b> <%= order.site ? order.site.suggestion_order : '' %> </b> </li>
     <li> Test Kit Waste Acceptable(%) <b>     <%= order.site ? order.site.test_kit_waste_acceptable : '' %> </b> </li>
    </ul>
  </div>
  <% end %>
  <% site_detail = yield(:site_detail) %>

  <div class="tabbable" style="position:relative;"> 
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#drug" data-toggle="tab" data-skip-loading='true'>Drugs</a>
      </li>
      <li>
        <a href="#kit" data-toggle="tab" data-skip-loading='true'>Kits</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="drug">
        <%= site_detail %>
        <%= render 'order_line_table', :order => order ,:body => yield(:drug), :show_strength => true %>
      </div>
      <div class="tab-pane" id="kit">
        <%= site_detail %>
        <%= render 'order_line_table', :order => order, :body => yield(:kit), :show_strength => false %>
      </div>
    </div>
  </div>
