<table class="table  table table-hover table-order-line-form" >
  <caption style="text-align: right; padding-bottom: 10px;">
    <%= link_icon 'eye', "Toggle empty rows", "javascript:void(0)",
                   method: :put,
                   class: "btn btn-primary toggle-empty_order-line" %>

    <%= link_to "Approve All #{type}", approve_all_admin_order_order_lines_path(@order, type: type),
                         method: :put,
                         class: "btn btn-primary" %>
  </caption>
  <thead>
    <tr> 
      <th> # </th>
      <th> ID </th>
      <th class="expand">Commodity</th>
      <th class="expand">Quantity Per Package</th>
      <th class="expand">Pack Size</th>
      <th class="expand">Strength</th>
      <th class="expand">Unit</th>
      <th class="expand" title="# Of Patient on Drug regiment"># Patient</th>
      <th class="expand" style='width: 65px;' title="Stock on hand" >Stock on hand</th>
      <th class="expand">Monthly use</th>
      <th class="expand" title="System suggestion">System Suggestion</th>
      <th class="expand" title="Quantity Suggested">Quantity suggested</th>
      <th class="expand"> Status</th>
      <th class="expand" width="100"> Entry Note</th>
      <th class="expand"> Reviewer Note</th>
      <th class="expand" colspan="2"> Action </th>
    </tr>
  </thead>

  <tbody>
    <% order_lines.each_with_index do |order_line, index| %>
      <tr> 
        <td> <%= index+1 %></td>
        <td> <%= order_line.id %></td>
        <td class="expand td-expand" title="<%= h order_line.commodity.name%>">
          <%= truncate(order_line.commodity.name, :length => 20) %> </td>
        <td><%=order_line.commodity.quantity_per_packg%></td>
        <td><%=order_line.commodity.pack_size%></td>
        <td><%=order_line.commodity.strength_dosage%></td>
        <td><%=order_line.commodity.unit.name%></td>
        <td> <%= order_line.number_of_client %></td>
        <td class="stock_on_hand"> <%= order_line.stock_on_hand %> </td>
        <td class="monthly_use"> <%= order_line.monthly_use %></td>
        <td> <%= order_line.system_suggestion %> </td>

        <td> <%= number_field_tag :quantity_suggested, order_line.quantity_suggested, 
                      :id => "quantity_suggested_#{order_line.id}",  
                      :class => :number_text %>  </td>
        <td> <span id='status_<%=order_line.id%>' ><%= status(order_line.status) %> </span> </td>
        <td class="td-expand expand" title="<%= h(order_line.user_data_entry_note)%>">
          <%= truncate order_line.user_data_entry_note %> </td>
        <td>
          <%= text_field_tag :reviewer_note, order_line.user_reviewer_note, :id => "user_reviewer_note_#{order_line.id}" %>
        </td>

        <td style="width: 240px;" id='<%=order_line.id %>' > 
          <%= link_to 'Approve', approve_admin_order_order_line_url(order, order_line), 
                      :title => 'Accept',
                      :'data-ref' => order_line.id, 
                      :method => :put, 
                      :class => 'approved intercept btn btn-primary' %>
                      </td>
        <td>
          <%= link_to 'Reject', reject_admin_order_order_line_url(order, order_line), 
                      :title => 'Reject',
                      :'data-ref' => order_line.id, 
                      :method => :put, 
                      :class => 'rejected intercept btn btn-danger' %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>