<table class="table table-bordered table table-hover" >
  <thead>
  	<tr> 
      <th> # </th>
      <th class='commodity'> Commodity </th>
      <th> #Patient drug </th>
      <th style='width: 65px;' > Stock on hand </th>
      <th> Consumtion</th>
      <th> System suggestion</th>
      <th> Quantity Suggested</th>
      <th> Status</th>
      <th width="160"> Entry Note</th>
      <th> Reviewer Note</th>
      <th width='60px;'> Action </th>

  	</tr>
  </thead>

  <tbody>
    <% order_lines.each_with_index do |order_line, index| %>
	    <tr> 
        <td> <%= index+1 %></td>
	      <td title="<%= h order_line.commodity.name%>"> <%= truncate(order_line.commodity.name, :length => 30) %> </td>
	      <td> <%= order_line.number_of_client %></td>
	      <td> <%= order_line.stock_on_hand %> </td>
	      <td> <%= order_line.monthly_use %></td>
	      <td> <%= order_line.calculate_system_suggestion %> </td>

	      <td> <%= number_field_tag :quantity_suggested, order_line.quantity_suggested, 
                      :id => "quantity_suggested_#{order_line.id}",  
                      :class => :number_text %>  </td>
        <td> <span id='status_<%=order_line.id%>' ><%= status(order_line.status) %> </span> </td>
        <td> <%= order_line.user_data_entry_note %> </td>
	      <td> <%= text_field_tag :reviewer_note, order_line.user_reviewer_note, :id => "user_reviewer_note_#{order_line.id}" %> </td>
	      <td id='<%=order_line.id %>' > 
          <%= link_button_tick '', approve_admin_order_order_line_url(order, order_line), 
                      :title => 'Accept',
                      :'data-ref' => order_line.id, 
                      :method => :put, 
                      :class => 'approved intercept btn-mini btn-success' %>           

          <%= link_button_minus '', reject_admin_order_order_line_url(order, order_line), 
                      :title => 'Reject',
                      :'data-ref' => order_line.id, 
                      :method => :put, 
                      :class => 'rejected intercept btn-mini btn-danger' %>  
	      </td>
	  	</tr>

    <% end %>
  </tbody>
</table>
<script >
 
 function handleButton(){
  $(".intercept").on('click', function(e){ 
    $elm = $(this);
    id = $elm.attr("data-ref");
    quantity_suggested = $("#quantity_suggested_" + id ).val();
    user_reviewer_note = $("#user_reviewer_note_" + id).val();
    data = { "order_line[quantity_suggested]" : quantity_suggested, "order_line[user_reviewer_note]" : user_reviewer_note  }
    url = $elm.attr("href")
    status_approved= '<%=status(OrderLine::STATUS_APPROVED ) %>' ;
    status_rejected = '<%=status(OrderLine::STATUS_REJECTED ) %>' ;

    showLoading();
    $.ajax({
      url : url,
      type: 'PUT',
      data: data,
      dataType: 'json',
      success: function(response){
        console.log(response);
        if(response["code"] == "failed"){
          if(response["arv_type"] == "Drug"){
            $("#error-drug").html(response["error"]);
            $("#error-drug").show();
            $("#quantity_suggested_" + id ).css("color", "red");   
          }
          else{
            $("#error-kit").html(response["error"]);
            $("#error-kit").show();
            $("#quantity_suggested_" + id ).css("color", "red");
          }
        }

        else{
          if(response["type"] == "approved")
            $("#status_"+id).html(status_approved);
          else
            $("#status_"+id).html(status_rejected);

          if(response["arv_type"] == "Drug"){
            $("#error-drug").html();
            $("#error-drug").hide();
            $("#quantity_suggested_" + id ).css("color", "black");
          }
          else{
            $("#error-kit").html();
            $("#error-kit").hide();
            $("#quantity_suggested_" + id ).css("color", "black");
          }
        }
        hideLoading();
      }
    });
    return false;
  });
 }

 $(function(){
  handleButton();
 });
 </script>
