<%= page_header("Orders") do  %>
  <%= link_to 'New Order',  new_admin_order_path(), :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Orders" => nil}]  %>
<% end %>

<%= paginate_records @orders %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t 'Type' %></th>
      <th><%= t 'Site' %></th>
      <th><%= t 'Summition Date' %></th>
      <th><%= t 'Order Date' %></th>
      <th><%= t 'User' %></th>
      <th><%= t 'From' %></th>

      <th><%= t 'Reviewer' %></th>
      <th><%= t 'Reviewed Date' %></th>
      <th><%= t 'Status' %></th>
      <th class="action_col3" ><%= t 'Action' %></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%=order.is_requisition_form ? 'Form Uploading' : 'Data Entry' %></td>
        <td><%=order.site.name %></td>
        <td><%=l order.date_submittion %></td>
        <td><%=l order.order_date %></td>
        <td title='<%= order.user.phone_number%>'> <%=order.user.display_name %></td>
        <td><%=order.user_type %></td>
        <td><%=order.review_user.nil? ? "" : order.review_user.name %></td>
        <td><%= order.review_date ? l(order.review_date) : '' %></td>
        <td><%= order.status %></td>
        <td class="last">
          <%= link_to t('View Order line'), admin_order_order_lines_path(order, :type => CommodityCategory::TYPES_DRUG), :class => 'btn btn-mini' %>    
          <%= link_to t('Delete'), admin_order_path(order),:method => :delete,
                      :confirm =>'Are you sure?', :class => 'btn btn-mini btn-danger' %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


