<%= page_header "Requisition and order"  do  %>

  <% 
    export_options = {}
    export_options[:type] = params[:type]  if !params[:type].blank?   
  %>
  <%= link_button_download 'Export Orders',  export_admin_orders_path(export_options), :class => 'btn btn-primary' %>  
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Orders" => nil}]  %>
<% end %>

<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table expand'>#</th>
      <th class="expand">ID</th>
      <th class="expand">Submission</th>
      <th class="expand">Site</th>
      <th class="expand">Order Creation</th>
      <th class="expand">Entry</th>
      <th class="expand">Reviewer</th>
      <th class="expand">Reviewed Date</th>
      <th class="expand">Status</th>
      <th class="expand">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td>
          <% 
             editable = false
             if current_user.data_entry_and_reviewer?
               editable = true if !order.approved?
             elsif current_user.data_entry?
               editable = true if order.pending? || order.to_be_revised?
             end
          %>
          <%= editable ? link_to(order.id, edit_admin_order_path(order)) : order.id %>
        </td>

        <td><%= show_date(order.date_submittion) %></td>
        <td><%=order.site.name %></td>
        
        <td><%= order.order_date ? show_date(order.order_date) : '' %></td>
        <td title='<%= order.user.phone_number%>'> 
          <%=order.user_data_entry ? order.user_data_entry.user_name : "" %>
        </td>
        <td><%= order.review_user ?  order.review_user.user_name : "" %></td>
        <td><%= order.review_date ? show_date_time(order.review_date) : '' %></td>
        <td><%= order.status %></td>
        
        <td class="center">
          <% if (current_user.reviewer? || current_user.data_entry_and_reviewer?) && order.to_be_reviewed? %>
            <%= link_button_review 'Review', review_admin_order_path(order) %> 

          <% elsif (current_user.data_entry? || current_user.data_entry_and_reviewer? ) && order.pending? %>
            <%= link_button_delete 'Delete', admin_order_path(order), :method => :delete, 
                                             :confirm => 'Are you sure to delete this order ?' %>

          <% elsif current_user.ams? %>
            <%= link_button 'icon-briefcase', 'Shipment', admin_order_shipments_path(order)%>
          <% end %>   

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @orders %>



