<%= page_header "Requisition and order"  do  %>
  <% 
    export_options = {}
    export_options[:type] = params[:type]  if !params[:type].blank?   
  %>
  <%= link_button_new 'New Order', new_admin_order_path(export_options), 
                      :class => 'btn btn-default' if current_user.data_entry? || current_user.data_entry_and_reviewer? %>
  <%= link_button_download 'Export List', export_admin_orders_path(export_options), :class => 'btn btn-primary' %> 

  <%= link_button_download 'Export Requisition and Order', '#export-order-dialog', role: :button, "data-toggle" => :modal,
                           id: 'export-order-btn', class: 'btn btn-primary', data: {skip_loading: true} %>

<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Orders" => nil}]  %>
<% end %>

<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table expand'>#</th>
      <th class="expand">ID</th>
      <th class="expand">Order No</th>
      <th class="expand">Submission</th>
      <th class="expand">Site</th>
      <th class="expand">Entry</th>
      <th class="expand">Reviewer</th>
      <th class="expand">Reviewed Date</th>
      <th class="expand">Status</th>
      <th class="expand">Excel File</th>
      <th class="expand">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td>
          <% 
             editable = false

             if current_user.data_entry_and_reviewer?
               editable = true if !(order.approved? || order.to_be_revised?)
             elsif current_user.data_entry?
               editable = true if order.pending? || order.to_be_revised?
             end
          %>
          <%= editable ? link_to(order.id, edit_admin_order_path(order)) : order.id %>
        </td>

        <td><%= order.order_number %></td>
        <td><%= show_date(order.date_submittion) %></td>
        <td><%=order.site.name %></td>

        <td title='<%= order.user_data_entry.try(:phone_number)%>'> 
          <%=order.user_data_entry.try(:user_name) %>
        </td>
        <td title='<%= order.review_user.try(:phone_number)%>'><%= order.review_user.try(:user_name) %></td>
        <td><%= order.review_date ? show_date_time(order.review_date) : '' %></td>
        <td><%= order.status %></td>
        <td>
          <%=link_to truncate(File.basename(order.requisition_report.form.current_path), length: 20), 
                     download_admin_requisition_report_path(order.requisition_report),
                     :data => {:skip_loading => true} if order.requisition_report %>
        </td>
        
        <td class="center">

          <% if (current_user.reviewer? || current_user.data_entry_and_reviewer?) && order.to_be_reviewed? %>
            <%= link_button_review 'Review', review_admin_order_path(order) %> 

          <% elsif (current_user.data_entry? || current_user.data_entry_and_reviewer? ) && !order.approved? %>
            <%= link_button_delete 'Delete', admin_order_path(order), :method => :delete, 
                                             :confirm => 'Are you sure to delete this order ?' %>
          <% end %>

          <%= link_button("truck", 'Detail ', admin_order_path(order), class: 'btn btn-info') if order.approved? %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @orders %>
<%= render 'export_dialog' %>



