<%= page_header "Requisition and order"  do  %>
  <% if current_user.data_entry? %>
    <%= link_button 'icon-plus' , 'New Order',  new_admin_order_path(), :class => 'btn' %>
  <% end %>
  <%= link_button 'icon-download-alt', 'Export Orders',  export_admin_orders_path(), :class => 'btn-primary' %>  
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Orders" => nil}]  %>
<% end %>

<%= paginate_records @orders %>
<table class="table table-striped ">
  <thead>
    <tr>
      <th>Summition</th>
      <th>Site</th>
      <th>Id</th>
      <th>Order Creation</th>
      <th>Entry</th>      
      <th>Reviewer</th>
      <th>Reviewed Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%=l order.date_submittion %></td>
        <td><%=order.site.name %></td>
        <td><%= order.id %> </td>
        <td><%=l order.order_date %></td>
        <td title='<%= order.user.phone_number%>'> 
          <%=order.user_data_entry ? order.user_data_entry.user_name : ""  %>
        </td>
        <td><%= order.review_user ?  order.review_user.user_name : "" %></td>
        <td><%= order.review_date ? l(order.review_date) : '' %></td>
        <td><%= order.status %></td>
        
        <td class="center">
          <% if current_user.reviewer? %>
            <%= link_button_review t('Review'), review_admin_order_path(order), :class => 'btn btn-mini' %> 
          <% end %> 
          <% if current_user.data_entry? %>  
            <%= link_button_edit 'Edit', edit_admin_order_path(order), :class => 'btn btn-mini' %> 
          <% end %>   

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= render 'search' %>


