<%= content_for :breadcrumb do %>
	<%= breadcrumb [{'Orders' => admin_orders_path}, {'Reviewer' => false}] %>
<% end %>

<%= page_header 'Review order'  %>

<div class='well' style='background-color: #fff;' >
  <div class='row-fluid'>
    <div class='span3'> Site : <b> <%= @order.site.name%> </b> </div>
    <div class='span3'> Order ID : <b> <%= @order.id %> </b> </div>
    <div class='span6'> </div>
  </div>
</div>

<% 
  order_lines_drug = @order.order_lines.select{|order_line| order_line.arv_type == CommodityCategory::TYPES_DRUG}
  order_lines_kit = @order.order_lines.select{|order_line| order_line.arv_type == CommodityCategory::TYPES_KIT}
  drug =  @type == CommodityCategory::TYPES_DRUG ? 'active' : '' 
  kit  =  @type == CommodityCategory::TYPES_KIT  ? 'active' : ''
%>
<div class="tabbable"> 
    <ul class="nav nav-tabs">
      <li class="<%= drug %>"  >
        <a href="#drug" data-toggle="tab" data-skip-loading="true" >Drugs</a>
      </li>
      <li class='<%= kit %>'> 
        <a href="#kit" data-toggle="tab" data-skip-loading="true" >Kits</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= drug %>" id="drug">
        <h4> Drug Commodities </h4>
        <div class='alert alert-error' id='error-drug' style='display: none;' ></div>
        <%= render :partial => 'review_table', :locals => {:order_lines => order_lines_drug, :order => @order } %>
      </div>
      <div class="tab-pane <%= kit %>" id="kit">
         <h4> Kit Commodities </h4>
         <div class='alert alert-error' id='error-kit' style='display: none;' ></div>
         <%= render :partial => 'review_table', :locals => {:order_lines => order_lines_kit, :order => @order  } %>
      </div>
    </div>
</div>


