<%= content_for :breadcrumb do %>
  <%= breadcrumb [{'Orders' => admin_orders_path}, {'Reviewer' => false}] %>
<% end %>

<%= page_header "Review Order(#{@order.id}) of Site(#{@order.site.name})" %>

<% 
  order_lines_drug = @order.order_lines.select{|order_line| order_line.arv_type == CommodityCategory::TYPES_DRUG}
  order_lines_kit = @order.order_lines.select{|order_line| order_line.arv_type == CommodityCategory::TYPES_KIT}
  drug =  @type == CommodityCategory::TYPES_DRUG ? 'active' : '' 
  kit  =  @type == CommodityCategory::TYPES_KIT  ? 'active' : ''
%>
<div class="tabbable"> 
    <ul class="nav nav-tabs">
      <li class="<%= drug %>"  >
        <a href="#drug" data-toggle="tab" data-skip-loading="true" >Drugs</a>
      </li>
      <li class='<%= kit %>'> 
        <a href="#kit" data-toggle="tab" data-skip-loading="true" >Kits</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= drug %>" id="drug">
        <div class="clearfix">
           <h4 class="pull-left"> Drug Commodities </h4>
           <div class='pull-right'>
             <!--  
             <%= link_to 'Approve All Drug', review_all_admin_order_order_lines_path(@order, type: CommodityCategory::TYPES_DRUG),
                         method: :put,
                         class: "btn btn-primary" %>
              -->
           </div>
         </div>

        <div class='alert alert-error' id='error-drug' style='display: none;' ></div>
        <div >
          <%= render 'review_table',
                     :order_lines => order_lines_drug,
                     :order => @order,
                     :type => CommodityCategory::TYPES_DRUG,
                     :show_strength => true %>
        </div>
      </div>
      <div class="tab-pane <%= kit %>" id="kit">
         <div class="clearfix">
           <h4 class="pull-left"> Kit Commodities </h4>
           <div class='pull-right'>
             <!-- 
             <%= link_to 'Approve All Kit', review_all_admin_order_order_lines_path(@order, type: CommodityCategory::TYPES_KIT),
                         method: :put,
                         class: "btn btn-primary" %>
              -->
           </div>
         </div>
         <div class='alert alert-error' id='error-kit' style='display: none;' ></div>
         <%= render 'review_table', 
                    :order_lines => order_lines_kit,
                    :order => @order,
                    :type => CommodityCategory::TYPES_KIT,
                    :show_strength => false %>
      </div>
    </div>
</div>


