<%= page_header 'Order Lists for site: ' + @order.site.name   %>
<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Orders" => admin_orders_path}, {"Order Lines" => nil}]  %>
<% end %>

<%= paginate_records @order_lines %>

<ul class="nav nav-tabs">
  <li class="<%= params[:type] == CommodityCategory::TYPES_DRUG ? 'active' : '' %>" >
    <%= link_to CommodityCategory::TYPES_DRUG, 
                admin_order_order_lines_path(@order, :type => CommodityCategory::TYPES_DRUG) %></li>

  <li class="<%= params[:type] == CommodityCategory::TYPES_KIT ? 'active' : '' %>">
    <%= link_to CommodityCategory::TYPES_KIT, 
                admin_order_order_lines_path(@order, :type => CommodityCategory::TYPES_KIT) %>
  </li>
</ul>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Commodity</th>
      <th>Sumission Date</th>
      <th>Order Date</th>
      <th>Stock on Hand</th>
      <th>Monthly use</th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.commodity.name %> </td>
        <td><%= @order.date_sumbittion %> </td>
        <td><%= @order.order_date %> </td>
        <td><%= order_line.stock_on_hand %> </td>
        <td><%= order_line.monthly_use %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


