
<!-- Modal -->
<%= simple_form_for [:admin, @shipment], url: create_shipment_admin_shipments_path , :html => { :class => 'form-horizontal' }  do |f| %>
  <div id="shippement_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" class='myModalLabel'>Create Shipment</h3>
    </div>

    <div class="modal-body">
      <div id='shipment_message' style='display:none;' class='alert' > </div>
      <%= f.input :shipment_date, :as => :date_time_picker, :input_html => {:class => 'datepicker-fit date-field'} %>
      <%= f.input :consignment_number, required: true %>
      <%= f.input :weight, label: 'Weight(Kg)' %>
      <%= f.input :cost, required: true %>
      <%= f.input :carton, required: true %>
    </div>

    <div class="modal-footer">
      <%= link_button_cancel ' Close ', "javascript:void()", :'aria-hidden' => true, :data=> {'dismiss' => :modal, :skip_loading => true}  %>
      <%= link_button_save ' Save ', 'javascript:void(0)' , :id => 'shipment_save', :data => {:skip_loading => true} %>
    </div>

  </div>
<% end %>
