<%= simple_form_for [:admin, @order, @shipment], :html => { :class => 'form-horizontal' }  do |f| %>
  <%= f.input :shipment_date, :as => :date_time_picker, :input_html => {:class => 'datepicker-fit date-field'} %>
  <%= f.input :consignment_number  %>

  <div class="form-actions">
  	<%= button_save ' Save' %> 
    <%= link_button_cancel 'Cancel' , admin_order_shipments_path(@order) %> 
  </div>
<% end %>