<%= form_tag mark_status_admin_shipments_path, :method => 'PUT' , :style => 'display:inline;' do %>
  <%= page_header "Shipment list", :left => 4, :right => 8  do  %>
    <div class='row-fluid'>
      <% options_download = params[:type].blank? ? {} : {:type => params[:type] }  %>
      <%= link_button_download 'Download as CSV',  download_admin_shipments_path(options_download), :class => 'btn btn-primary' %>
      <%= select_tag :status, options_for_select(Shipment.status_mark) , 

                       :style=>'margin-top: 10px; width: 140px; ', 
                       :id => "mark_status_id" , 
                       :include_blank => "" %>
      
    </div>
  <% end %>

  <% content_for :breadcrumb do %>
    <%= breadcrumb [{"Shipments" => nil}]  %>
  <% end %>

  <table class="table table-hover ">
    <thead>
      <tr>
        <th class='nth-table'>#</th>
        <th><%= link_to 'Site', field_sorted_in_shipments_path_for('sites.name'), :class => 'link-thead' %></th>
        <th><%= link_to 'Consignment', field_sorted_in_shipments_path_for('shipments.consignment_number'), :class => 'link-thead' %> </th>
        <th><%= link_to 'Cost', field_sorted_in_shipments_path_for('shipments.cost') , :class => 'link-thead'  %> </th>
        <th><%= link_to 'Carton', field_sorted_in_shipments_path_for('shipments.carton') , :class => 'link-thead'  %> </th>
        <th><%= link_to 'Status', field_sorted_in_shipments_path_for('shipments.status') , :class => 'link-thead'  %> </th>
        <th><%= link_to 'Date Shipped', field_sorted_in_shipments_path_for('shipments.shipment_date') , :class => 'link-thead'   %> </th>
        <th width='90' >
          <%= link_to '# SMS', field_sorted_in_shipments_path_for('shipments.sms_logs_count') , 
                      :class => 'link-thead', title: 'Numbers of sms sent to clinic' %> </th>
        <th width=160>
          <%= link_to 'SMS from site', field_sorted_in_shipments_path_for('shipments.site_messages_count'),
                      :class => 'link-thead' %> </th>
        <th style="text-align:center;">
          <%=check_box_tag 'toggle' , '', false,  :id => 'status_toggle' %></th>
      </tr>
    </thead>

    <tbody>
      <% @shipments.each_with_index do |shipment, index| %>
        <tr>
          <td><%= current_entries + index %></td>
          <td><%= shipment.site.name %></td>
          <td><%= link_to shipment.consignment_number, admin_shipment_path(shipment) %></td>
          <td><%= shipment.cost %></td>
          <td><%= shipment.carton %></td>
          <td><%= shipment.status %>
          <td title='<%= show_date(shipment.shipment_date) %>' class='td-expand'> <%= time_ago_tag shipment.shipment_date %> </td>
          <td> <%= link_to badge_value(shipment.sms_logs_count) , admin_shipment_sms_logs_path(shipment) %> </td>

          <td>
            <%= link_to badge_value(shipment.site_messages_count), 
                        shipment_messages_admin_shipment_site_messages_path(shipment) if shipment.site_messages_count >0 %>
          </td>
          <td class="center">
            <%= check_box_tag 'status_shipment_id[]', shipment.id, false %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render_paginate_for @shipments %>
<% end %>

<script type="text/javascript">
  function handleToggleStatus(){
    $("#status_toggle").on('click', function(){
       chbox = this
       $chboxes =  $("input[name='status_shipment_id[]']");
       for(var i=0; i< $chboxes.length; i++){
          $chboxes.get(i).checked = chbox.checked;
       }
    })
  }

  function handleStatusChange(){
    $("#mark_status_id").on('change', function(){
      checkbox = this
      $elm = $(checkbox);
      var status = $elm.val();
      if(status){
        $chboxes =  $("input[name='status_shipment_id[]']");
        for(var i=0; i< $chboxes.length; i++){
          if($chboxes.get(i).checked) {
            checkbox.form.submit();
            return true;
          }
        }
      }
    });
  }

  $(function(){
    handleToggleStatus();
    handleStatusChange();
  });
  
</script>
<%#= render 'search' %>


