<%= page_header "Shipments", :left => 4, :right => 8  do  %>
  <div class='row-fluid'>
    <%= link_button_new 'New Shipment',  order_admin_shipments_path() %>
    <%= link_button_download 'Down load as Excel',  order_admin_shipments_path(), :class => 'btn btn-primary' %>
  </div>
  
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Shipments" => nil}]  %>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th style='width: 150px;'>Site</th>
      <th>Consignment</th>
      <th>Date Shipped</th>
      <th>SMS Notified clinic (times)</th>      
      <th>Last notified date to clinic</th>
      <th>Shipment confirmed received</th>
      <th>Package lost</th>
      <th style='width: 55px;'>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each_with_index do |shipment, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td><%=shipment.site.name %></td>
        <td><%=shipment.consignment_number %></td>
        <td><%= l shipment.shipment_date %> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>   
        <td class="center">
          <%= link_button_show 'Detail', admin_shipment_path(shipment), :class => 'btn-mini btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @shipments %>
<%#= render 'search' %>


