<% content_for :breadcrumb do %>
  <%= breadcrumb [
    {"Shipments" => admin_shipments_path() },
    {"New" => nil}
 ]
%>
<% end %>

<%= page_header t("New Shipment")  %>

<div class='row-fluid' >
  <div class='span6 left' >	
  	<%= form_tag order_admin_shipments_path, :method => 'GET', :style => 'display:inline;' do |f| %>
  	  <%= select_tag :site_id, options_for_select(@sites, params[:site_id]), :id => :order_site_id , :prompt => "Select a site" %>
  	<% end %>
  </div>

   <div class='span6 right'>
   	<%= link_button_new 'Create Shipment', '#shippement_line', :data => {:skip_loading=> true, :toggle => :modal}  %>
   </div>	
</div>

<%= render "dialog" %>

<div class='alert alert-error' id='error-shipment' style='display: none;' ></div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th> # </th>
      <th>Site</th>
      <th>OrderId </th>
      <th>Commodity</th>      
      <th>Amount</th>
      <th>Approved Date</th>
      <th>Quantity Dispatch </th>
      <th>AMS remark </th>
      <th width="60"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each_with_index do |order_line, index| %>
      <%  
          line_session =  @shipment_session.find_by_key order_line.id 
          klass        = line_session.nil?  ? '' : 'row-success' 
          quantity     = line_session.nil?  ? '' : line_session[:quantity]
          remark       = line_session.nil?  ? '' : line_session[:remark]

      %>
      <tr id='tr_<%= order_line.id %>'>
        <td class='<%= klass  %>' > <%= current_entries + index %></td>
        <td class='<%= klass  %>'><%= order_line.order.site.name %></td>
        <td class='<%= klass  %>'><%= order_line.order.id %></td>
        <td class='<%= klass  %>'><%= order_line.commodity.name %></td>
        <td class='<%= klass  %>'><%= order_line.quantity_suggested %></td>
        <td class='<%= klass  %>'><%= time_ago_in_words order_line.updated_at %></td>
        <td class='<%= klass  %>'><input value='<%=quantity%>' type='number' class= 'number_text' name='order_line[dispatch]' id='quantity_<%= order_line.id %>' /> </td>
        <td class='<%= klass  %>'><input value='<%=remark%>' type='text' name='order_line[remark]' id='ams_remark_<%= order_line.id %>' /> </td> 
        <td class='<%= klass  %>'>
           <%= link_button_tick  '', '' , :class => 'add_order_line btn-success btn-mini', :data => {:id => order_line.id, :skip_loading => true}  %>
           <%= link_button_minus '', '' , :class => 'remove_order_line btn-danger btn-mini', :data => {:id => order_line.id, :skip_loading => true}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @order_lines %>

<script>

  function handleEvent(){
    $('.add_order_line').on('click', function(){
      var $elm = $(this);
      var id = $elm.attr("data-id");
      var quantity = $( "#quantity_" + id ).val()
      var remark   = $( "#ams_remark_" + id ).val()

      var data = { 'order_line_id' : id, 'quantity' : quantity, 'remark' : remark }
      addItem(data);
      return false;

    });

    $('.remove_order_line').on('click', function(){
      var $elm = $(this);
      var id = $elm.attr("data-id");

      var data = { 'order_line_id' : id}
      removeItem(data);
      return false;

    });
  }

  function highLightRowSuccess(id){
    $("#tr_" + id + " td " ).addClass("row-success").removeClass('row-error');
    $('#quantity_' + id).css({border: 'black', 'color' : '#333' })
    $('#quantity_' + id).focus();
  }

  function highLightRowDelete(id){
    $("#tr_" + id + " td " ).removeClass("row-success").removeClass('row-error');
    $('#quantity_' + id).css({border: 'black', 'color' : '#333' })
    $('#quantity_' + id).focus();
  }

  function highLightRowFailure(id){
    $("#tr_" + id + " td " ).addClass("row-error").removeClass('row-success');
    $('#quantity_' + id).css('color' , 'red' )
    $('#quantity_' + id).focus();
  }

  function hideError(){
    $("#error-shipment").hide();
  }

  function showError(msg){
    $("#error-shipment").html(msg);
    $("#error-shipment").show();
  }

  function removeItem(data){  
    var url = '<%= remove_session_admin_shipments_path %>';
    showLoading();
    hideError();

    $.ajax({
        url: url,
        type: 'DELETE',
        data: data,
        dataType: 'json',
        success: function(response){
          hideLoading();
          if(response.status == "success"){
            highLightRowDelete(data.order_line_id)
          }
          else{
            showError(response.error);
            highLightRowFailure(data.order_line_id)
          }
        }
    })
    return false;
  }

  function handleFilterBySite(){
    $("#order_site_id").on('change', function(){
       this.form.submit();
    })
  }

  function addItem(data){  
    var url = '<%= add_session_admin_shipments_path %>';
    showLoading();
    hideError();

    $.ajax({
        url: url,
        type: 'POST',
        data: data,
        dataType: 'json',
        success: function(response){
          hideLoading();
          if(response.status == "success"){
            highLightRowSuccess(data.order_line_id)
          }
          else{
            showError(response.error);
            highLightRowFailure(data.order_line_id)
          }
        }
    })
    return false;
  }

  $(function(){
     handleEvent();
     handleFilterBySite();
  });
</script>


