<% content_for :breadcrumb do %>
  <%= breadcrumb [
    {"Shipments" => admin_shipments_path(request.query_parameters) },
    {"Order" => nil}
 ]
%>
<% end %>

<%= page_header t("New Shipment")  %>

<div class='row-fluid' >
  <div class='span8' >
    <%= form_tag order_admin_shipments_path(request.query_parameters), :method => 'GET', :style => 'display:inline;' do |f| %>

      <span> Site </span>
      <%= select_tag :site_id, options_for_select(@sites, params[:site_id]), 
                     :id => :order_site_id , class: 'order-shipment',
                     :prompt => "Select a site" %>

      <span style='margin-left: 20px;'> From </span>
      <div class="input-append date datepicker">
        <%= text_field_tag :start, params[:start], size: "30",
               class: "datepicker-input date_time_picker required datepicker-fit date-field order-shipment" %>
        <span class="add-on"><i class="icon-calendar"> </i></span>
      </div>

      <span style='margin-left: 20px;'> To </span>
      <div class="input-append date datepicker">
        <%= text_field_tag :end, params[:end], size: "30",
               class: "datepicker-input date_time_picker required datepicker-fit date-field order-shipment" %>
        <span class="add-on"><i class="icon-calendar"> </i></span>
      </div>
    <% end %>
  </div>

   <div class='span4 text-right'>
     <%= link_button_new 'Create Shipment', '#shippement_dialog', :id => 'create_shippement', :data => {:skip_loading=> true}  %>
   </div>
</div>

<%= render "dialog" %>

<div class='alert alert-error' id='error-shipment' style='display: none;' ></div>
<table class="table table-hover ">
  <thead>
    <tr>
      <th><%=check_box_tag 'toggle_all', '1', false, :id => 'cb_toggle_all' %></th>
      <th>Site</th>
      <th>OrderId </th>
      <th>Commodity</th>
      <th>Strength</th>
      <th>Unit</th>
      <th>Amount</th>
      <th>Approved Date</th>
      <th>Quantity Dispatch </th>
      <th>AMS remark </th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each_with_index do |order_line, index| %>
      <%  
          line_session = @shipment_session.find_by_key order_line.id 
          klass        = line_session.nil?  ? '' : 'row-success' 
          quantity     = line_session.nil?  ? '' : line_session[:quantity]
          remark       = line_session.nil?  ? '' : line_session[:remark]
          checked      = line_session.nil?  ? false : true

      %>
      <tr id='tr_<%= order_line.id %>'>
        <td class='<%= klass  %>' > 
          <%= check_box_tag 'toggle[]', '1', checked, :class => 'cb_items', :id => "toggle_#{order_line.id}", :data => {:id => order_line.id} %> 
        </td>
        <td class='<%= klass  %>'><%= order_line.order.site.name %></td>
        <td class='<%= klass  %>'><%= order_line.order.id %></td>
        <td class='<%= klass  %>'><%= order_line.commodity.name %></td>
        <td class='<%= klass  %>'><%= order_line.commodity.strength_dosage %></td>
        <td class='<%= klass  %>'><%= order_line.commodity.unit.name%></td>
        <td class='<%= klass  %>'><%= order_line.quantity_suggested %></td>
        <td title="<%= h order_line.updated_at %>" class='<%= klass  %>'><%= time_ago_in_words order_line.updated_at %></td>

        <td class='<%= klass  %>'>
          <input value='<%=quantity%>' type='number' data-id='<%= order_line.id %>' class= 'content number_text' name='order_line[dispatch]' id='quantity_<%= order_line.id %>' /> 

          <a href="javascript:void(0)" rel="popover" data-id='<%= order_line.id %>' id='error_<%= order_line.id%>' data-skip-loading='true' style='display: none;'
             class='error' data-content="Invalid value. Quantity dispatch must be a number and should be in the same site." data-original-title=""  >    
             <i class='icon-exclamation-sign'></i>     
          </a>

        </td>

        <td class='<%= klass  %>'>
          <input value='<%=remark%>' type='text' data-id='<%= order_line.id %>' class='content' name='order_line[remark]' id='ams_remark_<%= order_line.id %>' /> 
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= render_paginate_for @order_lines %>

<script>

  function handleCreateShipment(){
    $("#create_shippement").on('click', function(){
      if(validShipmentLines()){
        $('#shippement_dialog').modal();
      }
    })
  }

  // Display all errors message
  function validShipmentLines(){
    var $items = $(".cb_items:checked")

    if($items.length == 0){
      alert("Please select at least an item to check");
      return false;
    }

    var valid  = true
    for(var i  = 0; i< $items.length; i++){
      item     = $items.get(i); 
      $elm     = $(item);
      var id   = $elm.attr('data-id');
      var data = getData(id);
      if(!isDataValid(data)) {
        valid  = false;
        showError(data.order_line_id);
        highLightRowFailure(data.order_line_id);
      }

    }
    if(!valid){
      alert("Please fix the error before continueing")
    }
    return valid ;
  }

  function isDataValid(data){
    return $.isNumeric(data.quantity) && parseInt(data.quantity) > 0
  }

  function checkUpdateCb(){
    $(".cb_items").on('click', function($e){
      var $elm = $(this);
      var id   = $elm.attr("data-id");
      var data = getData(id);
      if(this.checked){
        if(isDataValid(data))
          addItem(data);
      }
      else
        removeItem(data);

      $e.stopPropagation();
    })
  }

  function checkUpdateContent(){
    $(".content").on('blur', function(){
      $elm = $(this);
      var id = $elm.attr("data-id");
      var data = getData(id);
      checked = $("#toggle_"+id).get(0).checked ;

      if(checked){
        addItem(data);
      }

      else{
        // nothing to do cause it was removed.
      }

    })
  }

  function checkUpdate(){
    checkUpdateCb();
    checkUpdateContent();
  }

  function getData(id){
    var quantity = $( "#quantity_" + id ).val() ;
    var remark   = $( "#ams_remark_" + id ).val() ;
    return { 'order_line_id' : id, 'quantity' : quantity, 'remark' : remark } ;
  }

  function highLightRowSuccess(id){
    $("#tr_" + id + " td " ).addClass("row-success").removeClass('row-error');
    $('#quantity_' + id).css({'color' : '#333' })
    $("#error_" + id).hide();

  }

  function highLightRowDelete(id){
    $("#tr_" + id + " td " ).removeClass("row-success").removeClass('row-error');
    $('#quantity_' + id).css({'color' : '#333' })

  }

  function highLightRowFailure(id){
    $("#tr_" + id + " td " ).addClass("row-error").removeClass('row-success');
    $('#quantity_' + id).css('color' , 'red' )
    $("#error_" + id).show();

  }

  function hideError(id){
    $("#error_" + id).hide();
  }

  function showError(id, msg){
    if(msg) 
      $("#error_" + id ).attr('data-content' , msg);
    $("#error_" + id ).show();
  }

  function removeItem(data){  
    var url = '<%= remove_session_admin_shipments_path %>';
    showLoading();
    hideError(data.order_line_id);

    $.ajax({
        url: url,
        type: 'DELETE',
        data: data,
        dataType: 'json',
        success: function(response){
          hideLoading();
          if(response.status == "success"){
            highLightRowDelete(data.order_line_id)
          }
          else{
            showError(data.order_line_id, response.error);
            highLightRowFailure(data.order_line_id)
          }
        }
    })
    return false;
  }

  function handleFilterBySite(){
    $(".order-shipment").on('change', function(){
       this.form.submit();
    })
  }

  function addItem(data){  
    var url = '<%= add_session_admin_shipments_path %>';
    showLoading();
    hideError(data.order_line_id);

    $.ajax({
        url: url,
        type: 'POST',
        data: data,
        dataType: 'json',
        success: function(response){
          hideLoading();
          if(response.status == "success"){
            highLightRowSuccess(data.order_line_id)
          }
          else{
            showError(data.order_line_id, response.error);
            highLightRowFailure(data.order_line_id)
          }
        }
    })
    return false;
  }

  function toggleCheckbox(){
    $("#cb_toggle_all").on('click', function(){
        makeToggleCheck();
        if(this.checked)
          addItems();
        else
          removeItems();
    })
  }

  function makeToggleCheck(){
    checked = $("#cb_toggle_all").get(0).checked;
    $cb_items =  $(".cb_items")

    for(var i=0; i< $cb_items.length; i++) {
      $cb_items.get(i).checked = checked;
    }
  }


  function showPopover(){
    $("[rel='popover']").popover(
      {trigger:'hover',animation:'false', placement:'top'}
    );

    $("[rel='popover']").mouseover(function () {
      $("[rel='popover']").not(this).popover('hide');
    });
  }

  $(function(){
     //handleEvent();
     showPopover();
     handleCreateShipment();
     handleFilterBySite(); // filter by site
     toggleCheckbox();     // handle toggle Cheeck
     checkUpdate();        // handle add/remove shipment item
  });
</script>


