<%= page_header "Shipment Detail" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Shipments" => admin_shipments_path}, {"Detail" => nil}]  %>
<% end %>
<div class='well no-background' >
  <ul >
    <li> Site : <b> <%=@shipment.site.name %> </b> </li>
    <li> Order Number : <b> <%=@shipment.order.order_number %> </b> </li>
    <li> Consignment number : <b> <%=@shipment.consignment_number%> </b> </li>
    <li> Weight : <b> <%= pluralize(@shipment.weight, 'Kg') %> </b> </li>
    <li> 
      Cost : 
      <b>  <%= link_to @shipment.cost , '#cost_shippement_dialog',
                                        :id => 'update_cost',
                                        :title => 'Click to update the cost of shipment',
                                        :data => {:skip_loading=> true, toggle: 'modal'} %>
      </b>
    </li>
    <li> Number of carton : <b> <%= @shipment.carton %> </b> </li>
    <li> Shipment Date : <b> <%= show_date(@shipment.shipment_date)%> </b> </li>
    <li> Last notification at : <b> <%= ll(@shipment.last_notified_date) %> </b> </li>
    <li> Recieved at : <b> <%= ll @shipment.received_date %> </b> </li>
    <li> Lost at : <b> <%= ll @shipment.lost_date %> </b> </li>
    <li> Total : <b> <%= pluralize(@shipment.shipment_lines_count, 'item') %> </b> </li>
  </ul>  
</div>

<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th>Commodity</th>
      <th>Pack Size</th>
      <th>Unit</th>
      <th>Quantity Issued</th>
      <th>Quantity Suggested</th>
      <th>Remark</th>
    </tr>
  </thead>

  <tbody>
    <% @shipment_lines.each_with_index do |shipment_line, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td><%=shipment_line.order_line.commodity.name %></td>
        <td><%=shipment_line.order_line.commodity.pack_size %></td>
        <td><%=shipment_line.order_line.commodity.unit.name %></td>
        <td><%=shipment_line.quantity_issued %></td>
        <td><%=shipment_line.quantity_suggested %> </td>
        <td><%=shipment_line.remark %></td>  
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @shipment_lines %>

<!-- Modal -->

<%= simple_form_for [:admin, @shipment], :html => { :class => 'form-horizontal' }  do |f| %>
  <div id="cost_shippement_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="myModalLabel">Update shipment cost</h3>
    </div>

    <div class="modal-body">
      <div id='shipment_message' style='display:none;' class='alert' > </div>
      <%= f.input :cost, :input_html => {:id => 'shipment_cost'} %>
    </div>

    <div class="modal-footer">
      <%= link_button_cancel ' Close ', "javascript:void()", :'aria-hidden' => true, :data=> {'dismiss' => :modal, :skip_loading => true}  %>
      <%= link_button_save ' Save ', 'javascript:void(0)' , 
                            :id => 'shipment_show_save',
                            :class =>'btn-primary',
                            :data => {id: @shipment.id, url: update_cost_admin_shipment_path(@shipment), :skip_loading => true} %>
    </div>

  </div>
<% end %>


