<%= page_header("Requisition Report form", :left => 6, :right => 6) do %>
  <%= link_button_new 'New Requisition Report', new_admin_requisition_report_path, :class => 'btn' %>
  <%= link_button_download "Download Requistion Report Template", template_admin_commodity_categories_path(:format =>:xls), :class => 'btn btn-primary' %>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class='nth-table'> # </th>
      <th> Summition </th>
      <th> Site </th>
      <th> User </th>
      <th> Status </th>
      <th> Uploaded At </th>
    </tr>
  </thead>
  <tbody>
    <% @requisition_reports.each_with_index do |requisition_report, index| %>
      <tr>
        <td><%=current_entries + index %></td>
        <td>
          <%=link_to File.basename(requisition_report.form.current_path) , download_admin_requisition_report_path(requisition_report), :data => {:skip_loading => true} %>
        </td>
        <td><%=requisition_report.site.name %></td>
        <td><%=requisition_report.user.display_name %></td>
        <td><%=requisition_report.status %></td>
        <td><%=requisition_report.created_at %></td>

    <% 
       confirm_warning = 'The form has already been imported. Are you sure to reimport it ? [Warning] Re impport the form will automatically delete the previouse imported data '
       confirm_import  =  'Are you sure to import the form'
       msg = (requisition_report.status == RequisitionReport::IMPORT_STATUS_SUCCESS) ? confirm_warning  : confirm_import
     %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @requisition_reports %>