<%= page_header("Requisition Report form", :left => 6, :right => 6) do %>
    <%= link_to t('New Requisition Report Summition'), new_admin_requisition_report_path, :class => 'btn' %>
<% end %>

<%= paginate_records @requisition_reports %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t 'Summition' %></th>
      <th><%= t 'Site' %></th>
      <th><%= t 'User' %></th>
      <th><%= t 'Status' %></th>
      <th><%= t 'Uploaded At' %></th>
    </tr>
  </thead>
  <tbody>
    <% @requisition_reports.each do |requisition_report| %>
      <tr>
        <td>
          <%= link_to File.basename(requisition_report.form.current_path) , download_admin_requisition_report_path(requisition_report) %>
        </td>
        <td><%=requisition_report.site.name %></td>
        <td><%=requisition_report.user.display_name %></td>
        <td><%=requisition_report.status %></td>
        <td><%=requisition_report.created_at %></td>


    <% 
       confirm_warning = 'The form has already been imported. Are you sure to reimport it ? [Warning] Re impport the form will automatically delete the previouse imported data '
       confirm_import  =  'Are you sure to import the form'
       msg = (requisition_report.status == RequisitionReport::IMPORT_STATUS_SUCCESS) ? confirm_warning  : confirm_import
     %>
      </tr>
    <% end %>
  </tbody>
</table>


