<% content_for :breadcrumb do %>
  <%= breadcrumb [
  		 {"New Requisition Form" => false}
  	] %>
<% end %>

<%= page_header 'Requisition Form Summition' %>

<%=simple_form_for [:admin,@requisition_report], :html => {:class => 'form-horizontal' , :multipart => true} do |f|%>
  <%= f.error_notification %>
  <%= f.input :form, :as =>:file %>

  <div class="form-actions">
    <%= f.submit 'Submit Requisition Form', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_requisition_reports_path, :class => 'btn' %>
  </div>
<% end %>


