<% content_for :breadcrumb do  %>
  <%= breadcrumb [] %>
<% end %>

<%= page_header "System setting" %>
<style>
  .setting-line input, .setting-line select {
    margin-bottom: 0px !important ;
  }
</style>
<%= form_for [:admin, Setting.new] do |f| %>
  <div class='setting-line'>
      If site does not confirm package received, send SMS to site every 
      <input type="number" min="0" max="99" name="setting[hour]" style="width: 40px;" value='<%= Setting[:hour] %>' /> 

      <select name='setting[date_type]' style='width: 90px;' >
        <option value='<%= Setting::DURATION_TYPE_HOUR %>' <%= Setting[:date_type] == Setting::DURATION_TYPE_HOUR ? 'selected' : ''  %>  > <%= Setting::DURATION_TYPE_HOUR %> </option>
        <option value='<%= Setting::DURATION_TYPE_DAY  %>'  <%= Setting[:date_type] == Setting::DURATION_TYPE_DAY  ? 'selected' : ''  %>  > <%= Setting::DURATION_TYPE_DAY %> </option>
      </select>
      <%= button_save ' Save ' %>
  </div>
  <br />
  <% Setting::MESSAGE_KEYS.each do |el| %>
    <div class="template_container well">
      <%=label_tag "#{el[:label]}" %>
      <textarea id=<%= el[:name] %> rows="2" cols="400" name="setting[<%= el[:name]%>]" style ="width: 96%;"><%= Setting[el[:name]] %></textarea>
      <br />
      <%= parameters_links el %>
    </div>
    <br />
  <% end %>
  
<% end %>

<style>
  .template_container {
    padding-bottom: 10px;
  }
</style>

<script type="text/javascript">
    $(function() {
      $('.parameter_link').click(function() {
        var $this = $(this);
        var $input = $('#' + $this.attr('data-id'));
        $input.replaceSelection($this.text());
        return false;
      });
  });
</script>

