<%content_for :breadcrumb do %>
 <%= breadcrumb [ "Categoies" => nil] %>
<% end %>

<%= page_header t("Drug categories")  do %>
  <%=link_button_new "New Drug Category", new_admin_category_path() %>
<%  end %>

<%= paginate_records @categories %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class='action_col2' >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, edit_admin_category_path(category) %></td>
        <td><%= category.description %></td>
        <td>
          <%= link_button_edit 'Edit',  edit_admin_category_path(category) %>
          <%= link_button_delete 'Delete',  admin_category_path(category), :confirm => 'Are you sure to delete?',
                      :method => :delete  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
