<%content_for :breadcrumb do %>
 <%= breadcrumb [ "Categoies" => nil] %>
<% end %>

<%= page_header t("Drug categories")  do %>
  <%=link_to "New Drug Category", new_admin_category_path(), :class => 'btn' %>
<%  end %>

<%= paginate_records @categories %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t 'Name' %></th>
      <th><%= t 'Description' %></th>
      <th><%= t 'Created at' %></th>
      <th class='action_col2' ><%= t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, edit_admin_category_path(category) %></td>
        <td><%= category.description %></td>
        <td><%= l category.created_at %></td>
        <td>
          <%= link_to t('Edit'),  edit_admin_category_path(category), :class => 'btn btn-mini' %>
          <%= link_to t('Delete'),  admin_category_path(category), :confirm => t('Are you sure?'),
                      :method => :delete , :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
