<% content_for :breadcrumb do   %>
  <%= breadcrumb [{'Categories'=> admin_categories_path}, "#{@category.name}" => nil ] %>
<% end %>

<%= page_header("Drug : #{@category.name}") %>


<dl class="dl-horizontal">
  <dt><strong><%= t("Name") %>:</strong></dt>
  <dd><%= @category.name %></dd>
  <dt><strong><%= t("Description") %>:</strong></dt>
  <dd><%= @category.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
            admin_categories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_category_path(@category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            admin_category_path(@category), :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
</div>
