<%= simple_form_for [:admin , @commodity], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :commodity_category_id do %>
    <%= f.select :commodity_category_id, CommodityCategory.names, :include_blank => 'Select Category' %>
  <% end %>


  <%= f.input :consumption_per_client_pack %>
  <%= f.input :consumption_per_client_unit %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('Cancel'), admin_commodities_path, :class => 'btn' %>
  </div>
<% end %>
