<%= page_header("Commodities", :left => 6, :right => 6) do %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
          new_admin_commodity_path, :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Commodity" => nil}]  %>
<% end %>

<%= paginate_records @commodities %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Category") %></th>
      <th><%= t("Unit") %></th>
      <th><%= t("Strength Dosage") %></th>
      <th><%= t("Abbreviation") %></th>
      <th><%= t("Quantity Per Page") %></th>
      <th title='Consumtion Per Cient' > CPC (pack) </th>
      <th title='Consumtion Per Cient' > CPC (unit) </th>
      <th class='action_col2'><%=  t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @commodities.each do |commodity| %>
      <tr>
        <td><%=link_to commodity.name, admin_commodity_path(commodity) %></td>
        <td><%= commodity.commodity_category.name %></td>
        <td><%= commodity.unit.name %></td>
        <td><%= commodity.strength_dosage %></td>
        <td><%= commodity.abbreviation %></td>
        <td><%= commodity.quantity_per_packg %></td>
        <td><%= commodity.consumption_per_client_pack %></td>
        <td><%= commodity.consumption_per_client_unit %></td>
        <td class="last">
          <%= link_to t('Edit'), edit_admin_commodity_path(commodity), :class => 'btn btn-mini' %>
          <%= link_to t('Destroy'),   admin_commodity_path(commodity),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
