<%= page_header("Commodities", :left => 6, :right => 6) do %>
    <%=link_to "New #{params[:type]}", new_admin_commodity_path() + "?type=#{params[:type]}", :class => 'btn' %>
    <%=link_to "Download Excel Template", template_admin_commodity_categories_path(:format => :xls ), :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Commodity" => nil}]  %>
<% end %>
<ul class="nav nav-tabs">
  <li class=" <%= params[:type] == 'drugs' ? 'active' : '' %>">
    <a href="<%= admin_commodities_path(:type => 'drugs') %>">Drugs</a>
  </li>
  <li class="<%=params[:type] == 'kits' ? 'active' : '' %>"><a href="<%= admin_commodities_path(:type => 'kits') %>">Kits</a></li>
</ul>

<%= paginate_records @commodities %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Category") %></th>
      <th><%= t("Unit") %></th>
      <% if params[:type] == "drugs" %>
        <th><%= t("Strength Dosage") %></th>
        <th><%= t("Abbreviation") %></th>
        <th><%= t("Quantity Per Page") %></th>
      <% end %>
      <th title='Consumtion Per Cient' > CPC (pack) </th>
      <th title='Consumtion Per Cient' > CPC (unit) </th>
      <th class='action_col2'><%=  t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @commodities.each do |commodity| %>
      <tr>
        <td><%=link_to commodity.name, edit_admin_commodity_path(commodity, :type => params[:type]) %></td>
        <td><%= commodity.commodity_category.name %></td>
        <td><%= commodity.unit.name %></td>
        <% if params[:type] == "drugs" %>
          <td><%= commodity.strength_dosage %></td>
          <td><%= commodity.abbreviation %></td>
          <td><%= commodity.quantity_per_packg %></td>
        <% end %>
        <td><%= commodity.consumption_per_client_pack %></td>
        <td><%= commodity.consumption_per_client_unit %></td>
        <td class="last">
          <%= link_to t('Edit'), edit_admin_commodity_path(commodity, :type => params[:type]), :class => 'btn btn-mini' %>
          <%= link_to t('Destroy'),   admin_commodity_path(commodity, :type => params[:type]),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
