<%= content_for :breadcrumb do %>
  <%= breadcrumb [
      { 'Commodities' => admin_commodities_path    },
      { 'Detail : ' + @commodity.name => nil }
    ] %>
<% end %>
<%= page_header "Commodity Detail" %>

<dl class="dl-horizontal">
  <dt><strong><%= t("Name") %>:</strong></dt>
  <dd><%= @commodity.name %></dd>

  <dt><strong><%= t("Category") %>:</strong></dt>
  <dd><%= @commodity.commodity_category.name %></dd>

  <dt><strong><%= t("Consumption per client (pack)") %>:</strong></dt>
  <dd><%= @commodity.consumption_per_client_pack%></dd>

  <dt><strong><%= t("Consumption per client (unit)") %>:</strong></dt>
  <dd><%= @commodity.consumption_per_client_unit%></dd>

  <dt><strong><%= t("Unit") %>:</strong></dt>
  <dd><%= @commodity.unit.name %></dd>

  <dt><strong><%= t("Strength/Dosage") %>:</strong></dt>
  <dd><%= @commodity.strength_dosage%></dd>

  <dt><strong><%= t("Abbreviation") %>:</strong></dt>
  <dd><%= @commodity.abbreviation%></dd>

  <dt><strong><%= t("Quantity per Package") %>:</strong></dt>
  <dd><%= @commodity.quantity_per_packg %></dd>

  <dt><strong><%= t("Created at") %>:</strong></dt>
  <dd><%= l @commodity.created_at %></dd>


</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_commodities_path, :class => 'btn'  %>
  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_commodity_path(@commodity), :class => 'btn' %>
  
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_commodity_path(@commodity),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
