<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Surv Sites" => false}] %>
<% end %>

<%= page_header "Surv Sites : " + @import_surv.surv_type  %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class='nth-table'> # </th>
      <th> Site </th>
      <th> Year </th>
      <th> Month </th>
      <th> Type </th>
      <th> Total </th>
      <th class='action_col2'> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @surv_sites.each_with_index do |surv_site, index| %>
      <tr>
        <td><%=current_entries + index %></td>
        <td><%=surv_site.site.name%></td>
        <td><%=surv_site.year %></td>
        <td><%=surv_site.month %></td>
        <td><%=surv_site.surv_type %></td>
        <td><%=surv_site.surv_site_commodities_count %></td>
        <td>
        	<%= link_button_edit ' View detail', admin_surv_site_surv_site_commodities_path(surv_site) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @surv_sites %>