<%content_for :breadcrumb do %>
 <%= breadcrumb [ "Categoies" => nil] %>
<% end %>

<%= page_header t("Drug categories")  do %>
  <%=link_to "New Drug Category", new_category_path(), :class => 'btn btn-primary' %>
<%  end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Description") %></th>
      <th><%= t("Created at") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, edit_category_path(category) %></td>
        <td><%= category.description %></td>
        <td><%=l category.created_at %></td>
        <td>
          <%= link_to t('Show'), category_path(category), :class => 'btn btn-mini' %>
          
          <%= link_to t('Edit'),  edit_category_path(category), :class => 'btn btn-mini' %>
          <%= link_to t('Delete'),  category_path(category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
