<%=page_header("Dashboard Summary") %>
<%= render 'date_form' %>
<ul class='dashboard-item-set'>
 <%
   date_params = {}
   date_params[:start] = params[:start] if !params[:start].blank?
   date_params[:end]   = params[:end] if !params[:end].blank?

  [
  	{ :quantity => @total_order_by_status[Order::ORDER_STATUS_APPROVED].to_i, 
      :class => :order_approved,  
  		:type => Order::ORDER_STATUS_APPROVED ,  
      :text => 'Orders pending for dispatch',
      :url => order_admin_shipments_path(date_params)
    },

    {
      :quantity => @total_shipment_by_status[Shipment::STATUS_RECEIVED].to_i, 
      :class => :order_approved,  
      :type => Shipment::STATUS_RECEIVED ,  
      :text => 'Shipment received',
      :url => admin_shipments_path(date_params.merge(:type => Shipment::STATUS_RECEIVED) )

    },
    {
      :quantity => @total_shipment_by_status[Shipment::STATUS_PARTIALLY_RECEIVED].to_i, 
      :class => :order_in_review,  
      :type => Shipment::STATUS_PARTIALLY_RECEIVED,  
      :text => 'Shipment partially received',
      :url => admin_shipments_path(date_params.merge( :type => Shipment::STATUS_PARTIALLY_RECEIVED) )
    },
    {
      :quantity => @total_shipment_by_status[Shipment::STATUS_LOST].to_i, 
      :class => :order_in_review,  
      :type => Shipment::STATUS_LOST,  
      :text => 'Shipment Lost',
      :url => admin_shipments_path(date_params.merge( :type => Shipment::STATUS_LOST) )

    },
    {
      :quantity => @total_shipment_by_status[Shipment::STATUS_IN_PROGRESS].to_i, 
      :class => :order_pending,  
      :type => Shipment::STATUS_IN_PROGRESS,  
      :text => 'Shipment in  progress',
      :url => admin_shipments_path(date_params.merge(:type => Shipment::STATUS_IN_PROGRESS ) )
    }

  ].each do |item| %>
  	<li> 
  		<div>
			 <a href='<%= item[:url] %>' >
			 	<span class='order_size <%=item[:class] %>' > <%= item[:quantity] %> </span>
			 	<span > <%= item[:text] %> </span>
			 </a>			 
  		</div>
  	</li>	

<% end %>
</ul>