<%=page_header("Dashboard Summary") %>
<%= render 'date_form' %>
<ul class='dashboard-item-set'>
 <%
  [
  	{ :quantity => @total_order_by_status[Order::ORDER_STATUS_APPROVED].to_i, 
      :class => :order_approved,  
  		:type => Order::ORDER_STATUS_APPROVED ,  
      :text => 'Orders pending for dispatch',
      :url => order_admin_shipments_path()
    },

    { :quantity => @total_order_by_status[Order::ORDER_STATUS_APPROVED].to_i, 
      :class => :order_approved,  
      :type => Order::ORDER_STATUS_APPROVED,  
      :text => 'Pending',
      :url =>  admin_orders_path(:type => Order::ORDER_STATUS_APPROVED)
    }

  ].each do |item| %>
  	<li> 
  		<div>
			 <a href='<%= item[:url] %>' >
			 	<span class='order_size <%=item[:class] %>' > <%= item[:quantity] %> </span>
			 	<span > <%= item[:text] %> </span>
			 </a>			 
  		</div>
  	</li>	

<% end %>
</ul>