<%=page_header("Dashboard Summary") %>
<%= render 'date_form' %>
<ul class='dashboard-item-set'>
 <%
  [
  	{ :quantity => @total_order_by_status[Order::ORDER_STATUS_TO_BE_REVISED].to_i,  :class => :order_pending, 
  		:type => Order::ORDER_STATUS_TO_BE_REVISED,   :text => 'Orders reviewed and rejected. Pending for you to revise'},
  	{ :quantity => @total_order_by_status[Order::ORDER_STATUS_PENDING].to_i, :class => :order_submitted,  
  		:type => Order::ORDER_STATUS_PENDING, :text => 'New orders submitted from site for you to review and make order suggestion'},
  	{ :quantity => @total_order_by_status[Order::ORDER_STATUS_APPROVED].to_i, :class => :order_approved,  
  		:type => Order::ORDER_STATUS_APPROVED,  :text => 'Orders approved' },
  	{ :quantity => @total_order_by_status[Order::ORDER_STATUS_TO_BE_REVIEWED].to_i , :class => :order_in_review, 
  		:type => Order::ORDER_STATUS_TO_BE_REVIEWED, :text => 'Orders in review'},

  ].each do |order| %>
  	<li> 
  		<div>
			 <a href='<%= admin_orders_path(:type => order[:type]) %>' >
			 	<span class='order_size <%=order[:class] %>' > <%= order[:quantity] %> </span>
			 	<span > <%= order[:text] %> </span>
			 </a>			 
  		</div>
  	</li>	

<% end %>
</ul>
<%= render 'date_field'