<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Users" => nil}]  %>
<% end %>

<%= page_header "Users" do %>
  <%= link_button_new "New User", new_admin_user_path, :class => "btn" %>
<% end %>

<%= paginate_records @users %>
<table class="table table-hover" >
  <thead>
    <tr>
      <th><%= t("Login")%></th>
      <th><%= t("Phone")%></th>
      <th><%= t("Name")%></th>
      <th><%= t("Email")%></th>
      <th><%= t("Role")%></th>
      <th><%= t("Site")%></th>
      <th><%= t("Last access")%></th>
      <th  class="action_col3" ><%= t("Action")%></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td><%= link_to user.user_name, edit_admin_user_path(user) %> </td>
        <td><%= user.phone_number %> </td>
        <td><%= user.display_name  %> </td>
        <td><%= user.email  %> </td>
        <td><%= user.role  %> </td>
        <td><%= user.site ? user.site.name : '' %> </td>
        <td><%= user.last_sign_in_at  %> </td>
        <td class="last">
          <%= link_button_edit 'Edit', edit_admin_user_path(user), :class => 'btn btn-success' %>
          <%= link_button_reset 'Reset', reset_admin_user_path(user), :class => 'btn btn-mini btn-warning' %>
          <% if current_user.id != user.id %>
          <%= link_button_delete 'Delete'  , admin_user_path(user), :method => :delete,
                      :confirm => 'Are you sure to delete?', :class => 'btn btn-mini btn-danger' %>
          <% end %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>