<table class="table table-hover ">
	<thead> 
		<tr>
			<th class='nth-table'> # </th>
			<th width=100 > From </th>
			<th width=140 > Message</th>
			<th width=30> Consigment</th>
			<th> Shipment Status </th>
			<th width=30> Carton</th>
			<th > System Response</th>
			<th> Error </th>
			<th width=120> Date </th>
		</tr>
	</thead>

	<tbody>
		<% messages.each_with_index do |message, index| %>
			<tr> 
				<td><%= current_entries + index %></td>
				<td><%= message.from_phone %></td>
				<td><%= message.message %></td>
				<td><%= message.consignment_number %></td>
				<td><%= shipment_status message.status %></td>
				<td><%= message.carton %></td>
				<td title="<%= h message.response_message%>" class='td-expand'>
				  <%= truncate message.response_message, :length => 50 %></td>
				<td><%= message.display_error %></td>
				<td><%= show_date_time(message.created_at) %></td>
			</tr>
		<% end %> 
	</tbody>
</table>
<%= render_paginate_for  messages %>