<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Messages" => false}] %>
<% end %>

<%= page_header "Messages from : #{@site.name}"  %>


<table class="table table-hover table-bordered">
	<thead> 
		<tr>
			<th class='nth-table'> # </th>
			<th> From </th>
			<th> Message</th>
			<th> Consigment number </th>
			<th> Status </th>
			<th> Number of Carton</th>
			<th> Response</th>
			<th> Error </th>
			<th> Date </th>
		</tr>
	</thead>

	<tbody>
		<% @messages.each_with_index do |message, index| %>
			<tr> 
				<td><%= current_entries + index %></td>
				<td><%= message.from_phone %></td>
				<td><%= message.message %></td>
				<td><%= message.consignment_number %></td>
				<td><%= message.status %></td>
				<td><%= message.carton %></td>
				<td><%= message.response_message %></td>
				<td><%= message.display_error %></td>
				<td><%= l unit.created_at %></td>
			</tr>
		<% end %> 
	</tbody>
</table>
<%= render_paginate_for  @messages %>