<%=simple_form_for [:admin, @import_surv], :html => { :class => 'form-horizontal', :id => 'form_order' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :surv_type, :as => :hidden %> 
  <%= render 'form_top', f: f %>

  <div class='alert alert-info'>
    <i class='icon-x'></i> Please enter the number of patient in the following form. You can copy from Excel and paste here.
  </div> 

<% 
  category = nil 
  klass = 'default'
  @commodities.each do |commodity|
    if category && category != commodity.commodity_category.id
      klass = ( klass == 'default' ) ? 'switch_color' : 'default'
    end
    category = commodity.commodity_category.id %>


    <% content_for(:commodity_name) do %>
      <th class='header-grid <% klass %>' title='<%= commodity.ref_name %>' >
        <%= h truncate(commodity.ref_name) %>
       </th>
    <% end %>

    <% content_for(:commodity_strength) do %>
      <td class='header-grid <% klass %>' title='<%= commodity.ref_name %>' >
        <%= commodity.strength_dosage %>
      </td>
    <% end %>

<% end %>

  <div class='row-fluid form-fixed'  >
    <table class='table table-hover surv-form table-fixed-header' id='tableFixed' >
      <thead class='header' >
        <tr>
          <th class='header-grid' >Site</th>
          <%= yield(:commodity_name) %>
        </tr>

        <tr>
          <td class='header-grid' >Strength</td>
          <%= yield(:commodity_strength) %>
        </tr>
      </thead>

      <tbody>
        <%  @site_list = [] %>
        <%= f.simple_fields_for :surv_sites  do |surv_site_form| %>
            <%
              style = @i == 1 ? 'border-top: 1px solid #ccc;' : ''
              dom_id = surv_site_form.object.site_id 
              @site_list << dom_id
            %>

            <tr id='site_<%= dom_id %>'>
              <td class='header-grid' style='<%= style %>' title="<%= h surv_site_form.object.site.name %>" > 
                <a href='javascript:void(0)' class='btn btn-mini copy-open-dialog' data-skip-loading='true' 
                   data-id='<%=dom_id%>' data-content="<%=surv_site_form.object.site.name%>" style='display:none;' > 
                   <i class='icon-copy'>
                </i> 
                </a>
                <%= surv_site_form.input :id , :as => :hidden %>
                <%= truncate(surv_site_form.object.site.name, :length => 12) %>  
                <%= surv_site_form.input :site_id, :as => :hidden %>
              </td>
              <% 
                @offset = 0 
                @category = nil
                @klass  = 'default'
              %>
              <%= surv_site_form.simple_fields_for :surv_site_commodities do |surv_site_commodity_form| %>
                <% if !@category.nil? && @category != surv_site_commodity_form.object.commodity.commodity_category.id %>
                  <% @klass = (@klass == 'default') ? 'switch_color' : 'default' %>
                <% end %>
                <% @category = surv_site_commodity_form.object.commodity.commodity_category.id %>
                <% error_hl  = (surv_site_commodity_form.object.errors.size >0 ) ? 'background-color: red !important;' : '' %>
                <td  style='<%= style %> <%= error_hl %>'
                     class='<%= @klass%>' 
                     title="<%=h surv_site_commodity_form.object.commodity.commodity_category.name %>" >
                  <%= surv_site_commodity_form.input :id ,:as => :hidden %>
                  <%= surv_site_commodity_form.input :commodity_id, :as => :hidden %>

                  <%= surv_site_commodity_form.input :quantity, :label => false, :as => :text, 
                                                     :input_html => { :class=> "quantity_item number_text quantity_#{dom_id}",
                                                                      :data => { :id => dom_id, :offset => @offset}
                                                      }

                   %>
                </td>
                <% @offset = @offset + 1 %>
              <% end %>
          </tr>
        <% end %>
      </tbody>
     </table>
  </div>
  
  <div class="form-actions">
    <%= button_save  " Save " %> 
    <%= link_button_cancel 'Cancel', admin_import_survs_path(:type => @import_surv.surv_type) %>
  </div>
<% end %>
<input type='hidden' id='site-list' value='<%=@site_list.join(',')%>' />
<%= render 'copy' %>
