<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Survs" => false}] %>
<% end %>

<ul class="nav nav-tabs">
  <li class="<%= @type == ImportSurv::TYPES_SURV1 ? 'active' : ' ' %>">
    <%= link_to 'Surv1', admin_import_survs_path(:type => ImportSurv::TYPES_SURV1) %>
  </li>

  <li class="<%= @type == ImportSurv::TYPES_SURV2 ? 'active' : ' ' %>" >
    <%= link_to 'Surv2', admin_import_survs_path(:type => ImportSurv::TYPES_SURV2) %></li>
</ul>

<div class='header-in-tab'>
  <%= page_header "List of Survs" do %>
    <% if @type == ImportSurv::TYPES_SURV1  %>
      <%=link_button_new "New Surv1", new_admin_import_surv_path(:type => ImportSurv::TYPES_SURV1) , class: 'btn' %> 
    <% else %>
      <%=link_button_new "New Surv2", new_admin_import_surv_path(:type => ImportSurv::TYPES_SURV2) , class: 'btn' %>  
    <% end %>
  <%end%>
</div>

<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table'> # </th>
      <th> Created at </th>
      <th> Year </th>
      <th> Month </th>
      <th> Type </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @import_survs.each_with_index do |import_surv, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td>
          <%=link_button_edit show_date_time(import_surv.created_at), edit_admin_import_surv_path(import_surv, 
                              :type => import_surv.surv_type),
                              :class => 'btn btn-mini' %>
        </td>

        <td><%= import_surv.year %></td>
        <td><%= import_surv.month %></td>
        <td><%= import_surv.surv_type %></td>

        <td>
          <%= link_button_delete ' Delete ',admin_import_surv_path(import_surv,
                                 :type => import_surv.surv_type),
                                 :method => :delete,
                                 :confirm => 'Are you sure to delete this import surv ?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @import_survs %>