<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Import Survs" => false}] %>
<% end %>

<%= page_header "List of Survs" do %>
  <% if @type == ImportSurv::TYPES_SURV1  %>
    <%=link_button_new "New Surv1", new_admin_import_surv_path(:type => ImportSurv::TYPES_SURV1) , class: 'btn' %> 
  <% else %>
    <%=link_button_new "New Surv2", new_admin_import_surv_path(:type => ImportSurv::TYPES_SURV2) , class: 'btn' %>	
  <% end %>
<%end%>

<%= paginate_records @import_survs %>


<ul class="nav nav-tabs">
  <li class="<%= @type == ImportSurv::TYPES_SURV1 ? 'active' : ' ' %>">
    <%= link_to 'Surv1', admin_import_survs_path(:type => ImportSurv::TYPES_SURV1) %>
  </li>

  <li class="<%= @type == ImportSurv::TYPES_SURV2 ? 'active' : ' ' %>" >
    <%= link_to 'Surv2', admin_import_survs_path(:type => ImportSurv::TYPES_SURV2) %></li>
</ul>


<table class="table table-striped ">
  <thead>
    <tr>
      <th> Year </th>
      <th> Month </th>
      <th> Type </th>
      <th> Create at </th>
      <th class='action_col3'> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @import_survs.each do |import_surv| %>
      <tr>
        <td><%= import_surv.year %></td>
        <td><%= import_surv.month %></td>
        <td><%= import_surv.surv_type %></td>
        <td><%= l import_surv.created_at %></td>
        <td class='action_col2' >
          <%#=link_to 'View', admin_import_surv_surv_sites_path(import_surv), :class => 'btn btn-mini' %>
          <%=link_button_show 'Show', view_admin_import_surv_path(import_surv), :class => 'btn btn-mini' %>
          <%= link_button_delete t('Delete'),   admin_import_surv_path(import_surv, :type => import_surv.surv_type),
                      :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>