<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Survs" => admin_import_survs_path(:type => params[:type])}, "Show" => nil]  %>
<% end %>  
<%= page_header "#{@import_surv.surv_type} for #{ImportSurv::MONTHS[@import_surv.month]}, #{@import_surv.year}" %>

<div class='row-fluid form-fixed'  >
  <table class='table table-hover surv-form table-fixed-header ' >
    <thead class='header' >
      <tr >
         <th class='list-no'>#</th>
         <th class='pos-site'>Site</th>
         <% @commodities.each do |commodity| %>
            <th class='expand'><%= commodity.name %></th>
         <% end %>
      </tr>
    </thead>

    <tbody>
      <% @sites.each_with_index do |site, index| %>
        <tr>
            <td class='list-no'> <%= index+1 %> </td>
            <td class='expand' > <%= site.name %> </td>
            <% surv_site = @import_surv.surv_sites.select{|surv_site| surv_site.site == site }.first %>
            <% @commodities.each do |commodity| %>
              <td>
              <% 
                 quantity = ''
                 if surv_site
                   quantity = surv_site.surv_site_commodities.select{|surv_site_commodity| surv_site_commodity.commodity == commodity}.first.try(:quantity)
                 end
              %>
              <%=quantity %>
              </td>
            <% end %>
        </tr>
      <% end %>

    </tbody>
   </table>
</div>
<br />

<div> <%= link_button_cancel  'Back to Survs', admin_import_survs_path, :class => 'btn' %> </div>

