<%= simple_form_for [:admin,@public_holiday], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :date, :as => 'date_time_picker' %>
    <div class="form-actions">
      <%= button_save ' Save ' %>      	
      <%= link_button_cancel 'Cancel', admin_public_holidays_path, :class => 'btn' %>         
    </div>
<% end %>