<%= simple_form_for [:admin,@public_holiday], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :date, :as => 'date_time_picker' %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_public_holidays_path, :class => 'btn' %>
    </div>
<% end %>