<%= page_header("Public Holidays", :left => 6, :right => 6) do %>
    <%= link_button_new 'New Public Holiday', new_admin_public_holiday_path, :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Public Holiday" => nil}]  %>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th>Name</th>
      <th>Date</th>
      <th class='action_col2' >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @public_holidays.each_with_index do |public_holiday, index| %>
      <tr>
        <td><%=current_entries + index %></td>
        <td><%=link_to public_holiday.name, edit_admin_public_holiday_path(public_holiday) %></td>
        <td><%= public_holiday.date %></td>
        <td class="last"> 
          <%= link_button_edit  'Edit', edit_admin_public_holiday_path(public_holiday), :class => 'btn btn-mini' %>
          <%= link_button_delete 'Delete', admin_public_holiday_path(public_holiday),
                      :method => :delete,:confirm => 'Are you sure to delete?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @public_holidays %>
