<%= page_header("Public Holidays", :left => 6, :right => 6) do %>
    <%= link_to 'New Public Holiday', new_admin_public_holiday_path, :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Public Holiday" => nil}]  %>
<% end %>

<%= paginate_records @public_holidays %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t 'Name' %></th>
      <th><%= t 'Date' %></th>
      <th><%= t 'Created At' %></th>
      <th class='action_col2' ><%=  t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @public_holidays.each do |public_holiday| %>
      <tr>
        <td><%=link_to public_holiday.name, edit_admin_public_holiday_path(public_holiday) %></td>
        <td><%= public_holiday.date %></td>
        <td><%= public_holiday.created_at %></td>
        <td class="last">
          <%= link_to t('Edit'), edit_admin_public_holiday_path(public_holiday), :class => 'btn btn-mini' %>
          <%= link_to t('Delete'), admin_public_holiday_path(public_holiday),
                      :method => :delete,:confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
