<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= admin_root_path() %>">
          <b>
            <%= image_tag 'logo.jpg', width: '42', height: '42', alt: ENV['APP_NAME'] %>
          </b>
        </a>

        <div class="nav-collapse collapse">
            <ul class="nav">

              <% if current_user.site? %>
                <li class='<%=nav_status([:requisition_reports]) %>'>
                  <%= link_icon 'table', 'Requisition Forms', admin_requisition_reports_path %>
                </li>

                <li class='<%=nav_status([:order_status]) %>'>
                  <%= link_icon 'table', 'Orders Status', admin_order_status_path %>
                </li>
              <% end %>

              <% if current_user.data_entry? || current_user.data_entry_and_reviewer? %>
                <li class='<%=nav_status([:import_surv]) %>'>
                  <%= link_icon 'keyboard-o', 'SURV', admin_import_survs_path(:type => ImportSurv::TYPES_SURV1) %>
                </li>
              <% end %>

              <% if current_user.data_entry? || current_user.reviewer? || current_user.data_entry_and_reviewer? || current_user.ams? %>
                <li class='<%=nav_status([:orders]) %>'>
                  <%= link_icon 'table', 'Requisition and order', admin_orders_path %>
                </li>
              <% end %>

              <% if current_user.admin? %>
                <li class="<%=nav_status([:users]) %>">
                  <%= link_icon 'users', 'Users', admin_users_path %>
                </li>

                <li class="<%=nav_status([:commodities]) %>">
                  <%= link_icon 'medkit', 'Commodities', admin_commodities_path %>
                </li>

                <li class='<%=nav_status([:sites]) %>'>
                  <%= link_icon 'map-marker', 'Sites', admin_sites_path %>
                </li>

                <li class='<%=nav_status([:public_holidays]) %>'>
                  <%= link_icon 'calendar-o', 'Holidays', admin_public_holidays_path %>
                </li>

                <li  class='<%=nav_status([:site_messages, :sms_logs]) %>'>
                  <%= link_icon 'comment', 'Sms Logs', monitor_admin_sms_logs_path(:type => SmsLog::SMS_TYPE_REQUISITION) %>
                </li>


                <li class="dropdown <%=nav_status([:commodity_categories, :lab_test_categories, :regimen_categories, :units, :provinces, :settings, :lab_tests, :regimens])%>" >

                  <a  class="dropdown-toggle" href="#" data-toggle="dropdown">
                     <%=icon('cog') %> Settings
                    <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">

                    <li class="<%=nav_status([:settings]) %>" >
                      <%= link_to "SMS Message Template", admin_settings_path() %>
                    </li>
                    <li class="divider"></li>

                    <li class="<%=nav_status([:commodity_categories]) %>" >
                      <%= link_to "Commodity Categories", admin_commodity_categories_path() %>
                    </li>

                    <li class="<%=nav_status([:lab_test_categories]) %>" >
                      <%= link_to "Lab Test Categories", admin_lab_test_categories_path() %>
                    </li>

                    <li class="<%=nav_status([:regimen_categories]) %>" >
                      <%= link_to "Regimen Categories", admin_regimen_categories_path() %>
                    </li>

                    <li class="divider"></li>
                    <li class="<%=nav_status([:lab_tests]) %>" >
                      <%= link_to "Lab Test", admin_lab_tests_path() %>
                    </li>
                    <li class="<%=nav_status([:regimens]) %>" >
                      <%= link_to "Regimen", admin_regimens_path() %>
                    </li>
                    <li class="<%=nav_status([:units]) %>" >
                      <%= link_to "Units", admin_units_path() %>
                    </li>
                    <li class="<%=nav_status([:provinces]) %>" >
                      <%= link_to "Provinces", admin_provinces_path() %>
                    </li>

                  </ul>
                </li>
              <% end %>

              <% if current_user.ams? %>
                <li class='<%=nav_status([:shipment]) %>'>
                  <%= link_icon 'shopping-cart', 'Orders pending for dispatch', order_admin_shipments_path %>
                </li>

                <li class='<%=nav_status([:shipment]) %>'>
                  <%= link_icon 'truck', 'Shipment status', admin_shipments_path %>
                </li>

                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <%= icon('gift') %> Package
                    <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">


                    <li class='<%=nav_status([:shipment]) %>'>
                      <%= link_to 'Package in progress', admin_shipments_path(:type => Shipment::STATUS_IN_PROGRESS) %>
                    </li>

                    <li class='<%=nav_status([:shipment]) %>'>
                      <%= link_to 'Package lost', admin_shipments_path(:type => Shipment::STATUS_LOST) %>
                    </li>



                    <li class='<%=nav_status([:shipment]) %>'>
                      <%= link_to 'Package partially confirmed',
                                    admin_shipments_path(:type => Shipment::STATUS_PARTIALLY_RECEIVED) %>
                    </li>

                    <li class='<%=nav_status([:shipment]) %>'>
                      <%= link_to 'Package confirmed',
                                    admin_shipments_path(:type => Shipment::STATUS_RECEIVED) %>
                    </li>
                  </ul>
                </li>
              <% end %>

            </ul>

            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <%= icon('user') %> <%= current_user.display_name %>
                    <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", profile_admin_users_path %></li>
                    <li><%= link_to "Change password", new_password_admin_users_path() %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              <% else %>
                 <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
</div>
