<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= admin_root_path() %>"> <%=app_name %> </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%
              menus = [] 
              menus += [ {:label => "Users", :url => admin_users_path ,    :controller => "users" },
                        {:label => "Commodities",:url => admin_commodities_path(), :controller => "commodities"},
               ] if current_user.admin?

              menus += [ {:label => "Requisition Forms",:url => admin_requisition_reports_path(), :controller => "requisition_reports"}
                #,{:label => 'Requisition Template', :url => template_admin_commodity_categories_path(:format =>:xls), :controller => 'commodity_categories' } 


                ]  if current_user.site?
              
              menus << {:label => "SURV",:url => admin_import_survs_path(:type => ImportSurv::TYPES_SURV1), :controller => "import_survs"} if current_user.data_entry?
              menus << {:label => "Requisition and order", :url => admin_orders_path(), :controller => "orders"} if current_user.data_entry? || current_user.reviewer?

              menus += [
                {:label => "Sites", :url => admin_sites_path(), :controller => "sites"},
                {:label => "Public Holidays", :url => admin_public_holidays_path(), :controller => "public_holidays"},
                {:label => "Settings", :url => admin_settings_path, :controller => "settings"},
                {:label => "Sms Logs", :url => monitor_admin_sms_logs_path(:type => SmsLog::SMS_TYPE_REQUISITION), :controller => ["sms_logs", "site_messages"] },
              ] if current_user.admin?


              action = params[:action]

              menus += [
                  {:label => "Orders pending for dispatch", :url => order_admin_shipments_path(), :controller => "", :selected => action == "order" ? true : false },
                  {:label => "Shipment status", :url => admin_shipments_path(), :controller => "", :selected => (action=="index" && params[:type].blank?) ? true : false },
                  {:label => "Package lost", :url => admin_shipments_path(:type => Shipment::STATUS_LOST), :controller => "", :selected => (action == "index" && params[:type] == Shipment::STATUS_LOST ) ? true : false },

                  {:label => "Package partially confirmed", :url => admin_shipments_path(:type => Shipment::STATUS_PARTIALLY_RECEIVED), :controller => "", :selected => ( action == "index" && params[:type] == Shipment::STATUS_PARTIALLY_RECEIVED ) ? true : false },

                  {:label => "Package confirmed", :url => admin_shipments_path(:type => Shipment::STATUS_RECEIVED), :controller => "", :selected => ( action == "index" && params[:type] == Shipment::STATUS_RECEIVED ) ? true : false },

                ] if current_user.ams?

              menus.each do |item|
                cls = (item[:controller] == controller_name || item[:controller].include?(controller_name) || item[:selected] == true) ? "active" : ""
              %>
                  <li class="<%=cls%>"> <%=link_to item[:label], item[:url] %> </li>
              <% end %>
            </ul>

            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Welcome <%= current_user.display_name %> </i>
                    <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">
                    <li><%= link_to "Change password", new_password_admin_users_path() %></li>
                    <li><%= link_to "Profile", profile_admin_users_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              <% else %>
                 <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
            </ul>



          </div>
        </div>
    </div>
</div> 
