<!DOCTYPE html>
<html>
<head>
  <title><%= app_title %> </title>
   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/html5shiv.js"></script>
    <![endif]-->
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <style>
    body{padding-top: 50px;}
  </style>
  
</head>
<body>
  
  <%= render "layouts/top_menu" %>
  <div class="container">
    
    <%= render "layouts/user_bar" %>
    <% if content_for? :breadcrumb %>
      <div class="row" > <%= yield :breadcrumb %></div>
    <% end %>
    
    <div class="row">
      <!-- <div class="span3"> Menu</div>  -->
      <div class="span12"></div>
        <%if alert || notice %> 
            <% css_class = alert.nil? ? "warning" : "alert-error"   %>        
            <div class="alert <%= css_class %>" >
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <%= alert || notice %>
            </div>
        <% end %> 
        <%= yield %>
        
      </div>
    </div>
    
    
  </div>
  
  <footer>
    <div class="container">
      <div class="row"> 
         <div class="span6">  </div>
         <div class="span6">  </div>
      </div>  
    </div>
  </footer>

</body>
</html>
