<!DOCTYPE html>
<html>
<head>
  <title><%= app_title %> </title>
   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/html5shiv.js"></script>
    <![endif]-->
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <style>
    body{padding-top: 50px;}
    @media(max-width: 979px){
      body{
        padding: 0px;
      }
    }
  </style>
  
</head>
<body>
  
  <%= render "layouts/top_menu" %>
  <div class="container content-body">
    
    <%= render "layouts/user_bar" %>
    <div class='content-start'></div>
    <% if content_for? :breadcrumb %>
      <div class="row-fluid" > <%= yield :breadcrumb %></div>
    <% end %>
    
    <div class="row-fluid">
      <!-- <div class="span3"> Menu</div>  -->
        <%if alert || notice %> 
            <% css_class = alert.nil? ? "warning" : "alert-error"   %>        
            <div class="alert <%= css_class %>" >
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <%= (alert || notice).html_safe %>
            </div>
        <% end %> 
        <%= yield %>
      </div>
    </div>
  </div>

  <div id='system_loading' class='loading well'> 
    <%= image_tag 'loading.gif', :alt => 'System loading', :title => 'System loading' %> 
    <span id='loading_text' > Waiting for server response </span>
  </div>
  
  <footer>
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
