<!DOCTYPE html>
<html>
<head>
  <title>HIV Supply Chain</title>
   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/html5shiv.js"></script>
    <![endif]-->
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <style>
    body{padding-top: 50px;}
  </style>
  
</head>
<body>
  
  <div class="container">
    <div class="row" >
      <div class="span1"></div>
      <div class="span6" style="text-align: center;">
          <div class="logo">
   
            <div>
             <h3><%= image_tag "logo.jpg", :alt => 'Department of Health', :title => 'Department of Health'  %></h3>
            </div>
            <h2> <%= app_name %> </h2>
          </div>
      </div>
      
      <div class="span3">
        
          <div class="well">
              <%if alert || notice %> 
                <% css_class = alert.nil? ? "warning" : "notice"   %>        
                <div class="alert <%= css_class %>" >
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <%= alert || notice %>
                </div>
              <% end %> 
              <%= yield %>       
          </div>
      </div>
      <div class="span1"></div>
      
    </div>
    
    
  </div>

</body>
</html>
