<%= simple_form_for [:admin , @site], :html => { :class => 'form-horizontal site-form' } do |f| %>
  <%= f.input :name %>
  <%= f.input :region, collection: Site::Region %>
  <%= f.input :town %>
  <%= f.association :province, :include_blank => 'Select Province' %>

  <%= f.input :service_type, :collection => Site::SeviceType, :include_blank => 'Select Service' %>

  <%= f.input :suggestion_order, :label => 'Suggestion Order Valid Within(%)' %>

  <div class='control-group'>
    <div class='site-label' >If site does not confirm package received, send SMS to site every </div>
    <%= f.input :in_every, :label => "Every", label: false, wrapper_html: { style: 'display:inline; ' }, input_html: {style: 'width: 50px;'} %>
    <%= f.input :duration_type, :collection => Setting::DURATION_TYPES, label: false, wrapper_html: { style: 'display:inline; ' }, input_html: {style: 'width: 80px;'}  %>
    <div style='clear:both;line-height:10px;'>&nbsp;</div>
  <div>

  <%= f.input :order_frequency, :label => 'Order Frequency(Month)' %>
  <%= f.input :number_of_deadline_sumission %>
  <%= f.input :order_start_at, :as => 'date_time_picker', :label => 'Order Start Month' %>
  <%= f.input :test_kit_waste_acceptable, :label => 'Acceptable wastage % test kit' %>
  <%= f.input :address, :input_html => { :rows => 3} %>
  <%= f.input :contact_name %>
  <%= f.input :mobile %>
  <%= f.input :land_line_number %>
  <%= f.input :email %>

  <div class="form-actions">
    <%= button_save 'Save' %>  
    <%= link_button_cancel 'Cancel' , admin_sites_path %>
  </div>
<% end %>
