<%=page_header "Sites Listing" do %>
   <%= link_button_new 'New Site', new_admin_site_path %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Sites" => nil}]  %>
<% end %>

<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th width='150'>Name</th>
      <th>Service</th>
      <th>Suggestion Order Valid Within(%)</th>
      <th>Order Frequency(Month)</th>
      <th>Dead line Summision</th>
      <th>Order at</th>
      <th>Test kit waste acceptable</th>
      <th>Contact</th>
      <th width='150'>Province</th>
      <th width="60" >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each_with_index do |site, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td><%= link_to site.name, edit_admin_site_path(site) %></td>
        <td><%= site.service_type %></td>
        <td><%= site.suggestion_order %></td>
        <td><%= site.order_frequency %></td>
        <td><%= site.number_of_deadline_sumission %></td>
        <td><%= show_date(site.order_start_at) %></td>
        <td><%= site.test_kit_waste_acceptable %></td>
        <td><%= site.contact_name %></td>
        <td><%= site.province.name if site.province %></td>
        <td>
          <%= link_button_delete 'Delete', admin_site_path(site),:method => :delete,
                      :confirm =>'Are you sure to delete this site ?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @sites %>

