<%=page_header "Sites Listing" do %>
   <%= link_button_new 'New Site', new_admin_site_path %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Sites" => nil}]  %>
<% end %>

<table class="table table-hover ">
  <thead>
    <tr>
      <th class='nth-table'>#</th>
      <th class='expand'>Name</th>
      <th>Orders</th>
      <th class='expand'>Service</th>
      <th class='expand'>Order Frequency</th>
      <th class='expand'>Order at</th>
      <th class='expand'>Contact</th>
      <th class='expand'>Mobile</th>
      <th class='expand'>Region</th>
      <th class='expand'>Province</th>
      <th width="60" >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each_with_index do |site, index| %>
      <tr>
        <td><%= current_entries + index %></td>
        <td><%= link_to site.name, edit_admin_site_path(site)%></td>
        <td><%= site.orders_count%></td>
        <td><%= site.service_type %></td>
        <td><%= site.order_frequency %></td>
        <td><%= show_date(site.order_start_at) %></td>
        <td><%= site.contact_name %></td>
        <td><%= site.mobile %></td>
        <td><%= site.region %></td>
        <td><%= site.province.try(:name)%></td>
        <td>
          <%= link_button_delete 'Delete', admin_site_path(site),:method => :delete,
                      :confirm =>'Are you sure to delete this site ?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_paginate_for @sites %>
