<%=page_header "Sites Listing" do %>
   <%= link_button_new 'New Site', new_admin_site_path %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Sites" => nil}]  %>
<% end %>

<%= paginate_records @sites %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Service</th>
      <th>Suggestion Order Valid Within(%)</th>
      <th>Order Frequency(Month)</th>
      <th>Dead line Summision</th>
      <th>Order start at</th>
      <th>Test kit waste acceptable</th>
      <th>Contact</th>
      <th>Province</th>
      <th class='action_col2' >Action</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, edit_admin_site_path(site) %></td>
        <td><%= site.service_type %></td>
        <td><%= site.suggestion_order %></td>
        <td><%= site.order_frequency %></td>
        <td><%= site.number_of_deadline_sumission %></td>
        <td><%= site.order_start_at %></td>
        <td><%= site.test_kit_waste_acceptable %></td>
        <td><%= site.contact_name %></td>
        <td><%= site.province.name %></td>
        <td  width="90">
          <%= link_button_edit 'Edit', edit_admin_site_path(site) %>
          <%= link_button_delete 'Delete', admin_site_path(site),:method => :delete,
                      :confirm =>'Are you sure to delete?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


