<%=page_header "Sites Listing" do %>
   <%= link_to 'New Site', new_admin_site_path, :class => 'btn' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{"Sites" => nil}]  %>
<% end %>

<%= paginate_records @sites %>
<table class="table table-striped well no-border no-padding">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Service") %></th>
      <th><%= t("Sug Order") %></th>
      <th><%= t("Order Freq") %></th>
      <th><%= t("# Dead line Summision") %></th>
      <th><%= t("Order start at") %></th>
      <th><%= t("Test kit waste acceptable") %></th>
      <th><%= t("Contact name") %></th>
      <th><%= t("Province") %></th>
      <th class='action_col2' ><%=t 'Action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, edit_admin_site_path(site) %></td>
        <td><%= site.service_type %></td>
        <td><%= site.suggestion_order %></td>
        <td><%= site.order_frequency %></td>
        <td><%= site.number_of_deadline_sumission %></td>
        <td><%= site.order_start_at %></td>
        <td><%= site.test_kit_waste_acceptable %></td>
        <td><%= site.contact_name %></td>
        <td><%= site.province.name %></td>
        <td  width="90">
          <%= link_to t('Edit'), edit_admin_site_path(site), :class => 'btn btn-mini' %>
          <%= link_to t('Delete'), admin_site_path(site),:method => :delete,
                      :confirm =>'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


